p {
    EditMenuName: Paragraph;
}

h1 {
    EditMenuTitle: Heading Styles;
    EditMenuName: Heading 1;
}

h2 {
    EditMenuName: Heading 2;
}

h3 {
    EditMenuName: Heading 3;
}

.leadership-btn {
    EditMenuTitle: Styles;
    EditMenuName: Red Button;
    ChangeElementType: true;
    color: #fff;
    font-size: 20px;
    background-color: #ed1c24;
    width: 80%;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    display: block;
    margin: 15px auto;
    border: 0;
    outline: 0;
}

