/* CSS specific to edit mode, such as help content displayed to the editor */

.alert-info {
    border-color: #B8C0C5;
    color: black;
    font-family: Verdana;
    font-size: 12px;
    font-style: italic;
    background-color: #B8C0C5;
    box-shadow: 3px 3px 5px #CCC;
    text-align: center;
    margin-bottom: 18px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.alert-error p {
    text-align: left;
}

.alert-error .heading {
    font-weight: bold;
    color: #ff0000;
}

.alert-error .details {
    font-size: 0.8em;
    max-height: 100px;
    overflow: scroll;
}

.header.dim {
    margin: 2% 0;
    opacity: 0.3;
}
