/*carousel*/
@media (max-width: 480px) {
    .cd-slider-nav {
        height: 40px;
    }

    .cd-slider-nav .cd-marker,
    .cd-slider-nav li {
        width:40px;
    }

        .cd-slider-nav a::before {
            top: 15px;
            width: 15px;
            height: 15px;
        }
}

@media (max-width: 767px) {
  body {
    font-size: 13px;
  }

  
  .logo,
  .llc-nav-bar {
    position: static;
  }

  .navbar-nav .open .dropdown-menu {
    background-color: #fff;
    border-radius: 0;
  }

  .navbar-default .navbar-nav>li>a,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    font-size: 12px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-default .navbar-nav>li>a {
    font-size: 14px;
    font-weight: none;
  }
  .navbar-default .navbar-nav>li {
    padding: 0
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
   .navbar-default .navbar-nav>li {
    padding: 0 7px;
  }
}