@using High.Net.Core
@using High.Net.Models
@using High.Net.Models.SelfStorage.Pages

@model PageViewModel<HomePage>
<div class="slider">
    <div class="container">
        <ul class="rslides">
            @if (Model.CurrentPage.ImageSlider != null && Model.CurrentPage.ImageSlider.Any())
            {
                foreach (var item in Model.CurrentPage.ImageSlider)
                {
                    <li>
                       @Html.PropertyFor(x => item, new { PropertySettings = new ImageVault.EPiServer.PropertyMediaSettings { Width = 926, Height = 289 } })
                    </li>
                }
            }
        </ul>
    </div>
</div>
