@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using High.Net.Models.HighSteelStructure.Blocks

@model TextBlock

<div class="clearfix"></div>
  <h3 class="page-title">@Html.PropertyFor(x=> x.Heading)</h3>
@Html.PropertyFor(x=> x.Text)