extends ../layouts/root.jade

block title
    title Carousel slider block

block content
    div.leadership-carousel-slider
        div.container
            div.row
                div.col-xs-12.col-sm-12.col-md-6.col-md-offset-6
                    div.leadership-carousel-slider__title
                        h1 Lorem ipsum dolor sit consectetur.
            div.row
                div.col-xs-12.col-sm-12.col-md-12
                    div.leadership-carousel-slider__slider
                        div.leadership-carousel-slider__slider-item
                            div.leadership-carousel-slider__slider-item__thumbnail
                                img.image-lightbox(src="../images/video-popup.jpg", alt="Carousel slider item", data-image="../images/video-popup.jpg")
                            div.leadership-carousel-slider__slider-item__details
                                p Ut ornare erat a tellus accumsan sollicitudin. Praesent sit amet urna odio. Nulla at rutrum ex. Nulla molestie neque mi, in pretium ipsum mattis eu. Suspendisse bibendum ipsum ac malesuada scelerisque. 
                                a.leadership-btn(href="#") Learn More
                        div.leadership-carousel-slider__slider-item
                            div.leadership-carousel-slider__slider-item__thumbnail
                                img.image-lightbox(src="../images/video-popup.jpg", alt="Carousel slider item", data-image="../images/video-popup.jpg")
                            div.leadership-carousel-slider__slider-item__details
                                p Ut ornare erat a tellus accumsan sollicitudin. Praesent sit amet urna odio. Nulla at rutrum ex. Nulla molestie neque mi, in pretium ipsum mattis eu. Suspendisse bibendum ipsum ac malesuada scelerisque. 
                                a.leadership-btn(href="#") Learn More
                        div.leadership-carousel-slider__slider-item
                            div.leadership-carousel-slider__slider-item__thumbnail
                                img.image-lightbox(src="../images/video-popup.jpg", alt="Carousel slider item", data-image="../images/video-popup.jpg")
                            div.leadership-carousel-slider__slider-item__details
                                p Ut ornare erat a tellus accumsan sollicitudin. Praesent sit amet urna odio. Nulla at rutrum ex. Nulla molestie neque mi, in pretium ipsum mattis eu. Suspendisse bibendum ipsum ac malesuada scelerisque. 
                                a.leadership-btn(href="#") Learn More
                        div.leadership-carousel-slider__slider-item
                            div.leadership-carousel-slider__slider-item__thumbnail
                                img.image-lightbox(src="../images/video-popup.jpg", alt="Carousel slider item", data-image="../images/video-popup.jpg")
                            div.leadership-carousel-slider__slider-item__details
                                p Ut ornare erat a tellus accumsan sollicitudin. Praesent sit amet urna odio. Nulla at rutrum ex. Nulla molestie neque mi, in pretium ipsum mattis eu. Suspendisse bibendum ipsum ac malesuada scelerisque. 
                                a.leadership-btn(href="#") Learn More
    