extends ../layouts/root.jade

block title
    title Location block

block content
    div.leadership-location
        div.container
            div.row
                div.col-xs-12.col-sm-12.col-md-12
                    div#leadership-location__information-box
                        h3 Lorum ipsum dolor sit amet, consectetuer.
                        p.detail Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh consectetuer adipiscing elit, sed diam nonummy nibh.
                        a.leadership-btn#message-us(href="#contact-form-popup") Message Us
                        p.small Or give us a call.
                        a.leadership-btn.type-2#call-us(href="#") 717.555.5555
        div#leadership-location__map(data-lat="40.054285", data-long="-76.250555", data-center="false")
    div#contact-form-popup.white-popup-block.mfp-hide
        form(action="", method="POST")
            div.row
                div.col-xs-12.col-sm-12.col-md-6
                    div.contact-form-popup__title
                        h1 Lorem ipsum dolor sit consectetur
            div.row
                div.col-xs-12.col-sm-6.col-md-6
                    div.contact-form-popup__inputs
                        div.contact-form-popup__input
                            label(for="fullname") First &amp; Last Name*
                            input#fullname(type="text", placeholder="Ryaan Beck")
                        div.contact-form-popup__input
                            label(for="email") Email*
                            input#email(type="email")
                        div.contact-form-popup__input
                            label(for="phone") Phone Number
                            input#phone(type="number")
                        div.contact-form-popup__input
                            label(for="fullname") Message*
                            textarea#message
                div.col-xs-12.col-sm-6.col-md-6
                    div.contact-form-popup__action
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus tortor, venenatis id nisi non, dignissim egestas ligula. Praesent scelerisque, libero sed lobortis.
                        input.leadership-btn(type="submit", value="Submit")
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDzzAFqbA5agZEi5uy5dWGjN_k8oqiOKrc")