extends ../layouts/root.jade

block title
    title Two columns block

block content
    div.leadership-two-columns
        div.container
            div.row
                div.col-xs-12.col-sm-12.col-md-6
                    div.leadership-two-columns__title
                        h1 Lorem ipsum dolor sit amet, consectetur
            div.row
                div.col-xs-12.col-sm-6.col-md-6
                    div.leadership-two-columns__details
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.                             em Donec purus tortor,                             | venenatis id nisi non, dignissim egestas ligula. Praesent scelerisque, libero sed lobortis efficitur, mauris nunc maximus purus, id faucibus mi elit vel tellus. Nullam nec vehicula odio, ut rhoncus nulla. Praesent scelerisque ex quis ligula ultricies, quis vulputate nunc volutpat.                         p Ut ornare erat a tellus accumsan sollicitudin. Praesent sit amet urna odio. Nulla at rutrum ex. Nulla molestie neque mi, in pretium ipsum mattis eu. Suspendisse bibendum ipsum ac malesuada scelerisque. Sed gravida ante quis leo eleifend ullamcorper.                div.col-xs-12.col-sm-6.col-md-6
                    div.leadership-two-columns__details
                        p Ut ornare erat a tellus accumsan sollicitudin. Praesent sit amet urna odio. Nulla at rutrum ex. Nulla molestie neque mi, in pretium ipsum mattis eu. Suspendisse bibendum ipsum ac malesuada scelerisque. Sed gravida ante quis leo eleifend ullamcorper.
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus tortor, venenatis id nisi non, dignissim egestas ligula. Praesent scelerisque, libero sed lobortis efficitur, mauris nunc maximus purus, id faucibus mi elit vel tellus. Nullam nec vehicula odio, ut rhoncus nulla. Praesent scelerisque ex quis ligula ultricies, quis vulputate nunc volutpat.
    
    
    
    
    