@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using High.Net.Models.SelfStorage.Blocks

@model TextBlock

@if (Model.Title != null)
{
    <p class="section-title sec-heading" @Html.EditAttributes(X => X.Title) >
        @(new HtmlString(Model.Title))
    </p>
}
@Html.PropertyFor(x => x.Text)



