div(class="residential-intro page-contents")
    div(class="container")
        h1 Feature &amp; Photos
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque maximus diam ex, eu pretium metus tristique ac. Curabitur et convallis purus, at feugiat mauris. Nullam vulputate finibus vehicula. Nunc interdum tortor augue, at pellentesque massa pellentesque in. Proin elementum nisl nibh. Mauris dignissim semper nisi at condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent in pretium diam. Nulla sagittis libero semper libero ultricies euismod.

div(class="residential-category-list page-contents type-2")
    div(class="container")
        div(class="category-list__wrapper row")
            div(class="category-list__item col-xs-12 col-sm-4 col-md-4")
                h3 Community Features
                ul
                    li On-site management team                     li Beautiful clubhouse                     li Picturesque landscaping with large oak and magnolia trees                     li 24 hour fitness center                     li Swimming pool with grill and poolside WiFi                    li Heated Jacuzzi                    li Business center                     li On-site recycling center                     li Pet friendly                     li Two fishing ponds                     li Short term & furnished homes available                     li Car care area                    li Boat parking                    li Dog park                    li Dog spa
            div(class="category-list__item col-xs-12 col-sm-4 col-md-4")
                h3 Home Features
                ul
                    li Unique home designs with spacious floor plans                    li Private entrances with deadbolt & and eyehole                    li Central heat & A/C                    li Tiled foyer                    li Foyer windows                    li Oak cabinetry                    li Frost free refrigerator with ice maker                    li Electric range                     li Dishwasher                    li Garbage disposals                    li Full-size washer and dryer                    li Blinds provided for immediate privacy                    li Large walk in closets                    li Lighted storage closets                    li Wood-burning fireplace                    li Cable ready                    li Screened-in porch                    li Pond and wooded views                    li Pest Control included                    li Handicap adaptable*
            div(class="category-list__item col-xs-12 col-sm-4 col-md-4")
                h3 Home Features
                ul
                    li 24 hour maintenance                     li Planned community events                     li Package acceptance service                     li Guest suites available                     li Event room for parties                     li Convenient payment options                    li Lorem Ipsum
                    li Lorem Ipsum
                    li Lorem Ipsum
                    li Lorem Ipsum
                    li Lorem Ipsum
                    li Lorem Ipsum
                    li Lorem Ipsum
                    li Lorem Ipsum
                    li Lorem Ipsum
                    li Lorem Ipsum