div(class="residential-event-list photo-gallery")
    div(class="container")
        div(class="row")
            div(class="col-xs-12 col-sm-12 col-md-12")
                div(class="residential-event-list__header")
                    h1 Event List
        div(class="row")
            div(class="col-xs-12 col-sm-12 col-md-12")
                div(class="residential-event-list__item")
                    div(class="row")
                        div(class="col-xs-12 col-sm-4 col-md-3")
                            div(class="residential-event-list__thumbnail")
                                img(class="image-lightbox", src="../images/service-gallery-1.jpg")
                                div(class="residential-event-list__date")
                                    p 25
                                    p Jul
                        div(class="col-xs-12 col-sm-8 col-md-9")
                            div(class="residential-event-list__description")
                                h3 ISB FinTech Summit 2017: Blockchain for Business
                                p
                                    span Start date
                                    | 25 July 2017
                                p
                                    span End date
                                    | 28 July 2017
                                div(class="residential-event-list__summary")
                                    p Blockchain technology has evolved from a specific initial use case of cryptocurrency to numerous successful applications across industry verticals. 
                div(class="residential-event-list__item")
                    div(class="row")
                        div(class="col-xs-12 col-sm-4 col-md-3")
                            div(class="residential-event-list__thumbnail")
                                img(class="image-lightbox", src="../images/service-gallery-2.jpg")
                                div(class="residential-event-list__date")
                                    p 23
                                    p Jul
                        div(class="col-xs-12 col-sm-8 col-md-9")
                            div(class="residential-event-list__description")
                                h3 Launch of Digital Identity Research Initiative
                                p
                                    span Start date
                                    | 23 July 2017
                                p
                                    span End date
                                    | 27 July 2017
                                div(class="residential-event-list__summary")
                                    p Digital Identity Research Initiative launch on Wednesday, July 05, 2017, 5pm-7pm, along with the release of the State of Aadhaar Report by IDinsight. 
                div(class="residential-event-list__item")
                    div(class="row")
                        div(class="col-xs-12 col-sm-4 col-md-3")
                            div(class="residential-event-list__thumbnail")
                                img(class="image-lightbox", src="../images/service-gallery-3.jpg")
                                div(class="residential-event-list__date")
                                    p 21
                                    p Jul
                        div(class="col-xs-12 col-sm-8 col-md-9")
                            div(class="residential-event-list__description")
                                h3 "Living a Boardroom Battle"
                                p
                                    span Start date
                                    | 21 July 2017
                                p
                                    span End date
                                    | 26 July 2017
                                div(class="residential-event-list__summary")
                                    p Professor Nirmalya Kumar will be speaking on “Living a Boardroom Battle" and learnings with respect to Governance and Indian Businesses”.
                div(class="residential-event-list__item")
                    div(class="row")
                        div(class="col-xs-12 col-sm-4 col-md-3")
                            div(class="residential-event-list__thumbnail")
                                img(class="image-lightbox", src="../images/service-gallery-2.jpg")
                                div(class="residential-event-list__date")
                                    p 18
                                    p Jul
                        div(class="col-xs-12 col-sm-8 col-md-9")
                            div(class="residential-event-list__description")
                                h3 Simplifying GST for Businesses
                                p
                                    span Start date
                                    | 18 July 2017
                                p
                                    span End date
                                    | 22 July 2017
                                div(class="residential-event-list__summary")
                                    p The Goods and Service Tax (GST) has taken a long time in coming, but is a potential game changer for the country. 
                div(class="residential-event-list__item")
                    div(class="row")
                        div(class="col-xs-12 col-sm-4 col-md-3")
                            div(class="residential-event-list__thumbnail")
                                img(class="image-lightbox", src="../images/service-gallery-1.jpg")
                                div(class="residential-event-list__date")
                                    p 15
                                    p Jul
                        div(class="col-xs-12 col-sm-8 col-md-9")
                            div(class="residential-event-list__description")
                                h3 Panel discussion on the topic, UK-India can make GREAT smart cities together'
                                p
                                    span Start date
                                    | 15 July 2017
                                p
                                    span End date
                                    | 20 July 2017
                                div(class="residential-event-list__summary")
                                    p As part of Great Debate Competition being hosted by British High Commission at the ISB campus
                                    