div(class="residential-footer type-2")
    div(class="residential-footer__information")
        div(class="container")
            div(class="row")
                div(class="col-xs-12 col-sm-6 col-md-3")
                    div(class="residential-footer__information-block")
                        h3 Plantation oaks
                        ul
                            li 2225 Ashley River Road
                            li Charleston, SC 29414
                            li
                                span(class="roboto-bold") Phone:
                                | 5846.766.6122
                            li
                                span(class="roboto-bold") Email:
                                | plantationoaks@high.net
                div(class="col-xs-12 col-sm-6 col-md-3")
                    div(class="residential-footer__information-block")
                        h3 Leasing ofice hours
                        ul
                            li Monday - Friday: 10 a.m. to 5:30 p.m.
                            li Saturday: Call for Hours
                            li Sunday: Closed
                div(class="col-xs-12 col-sm-12 col-md-6")
                    div(class="residential-footer__information-block")
                        h3 Pet policy
                        ul
                            li $300 for one pet, $500 for 2 pets
                            li $10/month for one pet, $15/month for 2 pets
                            li Breed restrictions apply
                            li Service animals to accompany a resident with a verifiable disability for the purpose of aiding that person are not considered "pets"
    div(class="residential-footer__copyright")
        div(class="container")
            div(class="row")
                div(class="col-xs-12 col-sm-9 col-md-9")
                    div(class="residential-footer__copyright-left")
                        a(href="#")
                            img(src="../images/footer-icon.png", alt="Equal Housing Opportunity")
                        a(href="#")
                            img(src="../images/footer-icon-2.png", alt="Footer Icon")
                        p All rights Reserved. High Associates &copy; 2017
                div(class="col-xs-12 col-sm-3 col-md-3")
                    div(class="residential-footer__copyright-right")
                        a(href="#")
                            img(src="../images/social-icon.png", alt="Facebook")
                        a(href="#")
                            img(src="../images/social-icon-2.png", alt="Social Link")