div(class="residential-header sticky-header fixed")
    div(class="residential-header__logo")
        img(src="../images/logo.png", alt="High Associates Residential")
    div(class="residential-header__right-nav")
        div(class="residential-header__right-nav-wrapper")
            a(class="residential-header__toggle-button desktop", href="#")
                span
                span
                span
            ul(class="residential-header__nav")
                li(class="active")
                    a(href="../pages/home.html") Home
                li
                    a(href="../pages/about-us.html") About Us
                    ul(class="residential-header__subnav")
                            li
                                a(href="#") Our Team
                            li
                                a(href="#") Our Work
                            li
                                a(href="#") Our Products
                            li
                                a(href="#") Our Company
                li
                    a(href="../pages/feature-photos.html") Feature &amp; Photos
                li
                    a(href="../pages/floor-plans.html") Floor Plans
                li
                    a(href="../pages/residents.html") Residents
                li
                    a(href="../pages/neighborhood.html") Neighborhood
                li
                    a(href="../pages/contact-us.html") Contact
                    ul(class="residential-header__subnav")
                            li
                                a(href="#") Contact Team
                            li
                                a(href="#") Contact HR
                            li
                                a(href="#") Contact BE
                            li
                                a(href="#") Contact FE