div(class="residential-logo-wall")
    div(class="container")
        div(class="row")
            div(class="residential-logo-wall__wrapper")
                div(class="col-xs-12 col-sm-4 col-md-4")
                    div(class="residential-logo-wall__item")
                        div(class="residential-logo-wall__thumbnail")
                            a(href="#")
                                img(src="../images/logo-wall-1.jpg")
                        div(class="residential-logo-wall__description")
                            p 843-766-1161
                div(class="col-xs-12 col-sm-4 col-md-4")
                    div(class="residential-logo-wall__item")
                        div(class="residential-logo-wall__thumbnail")
                            a(href="#")
                                img(src="../images/logo-wall-2.jpg")
                        div(class="residential-logo-wall__description")
                            p 843-556-6088
                div(class="col-xs-12 col-sm-4 col-md-4")
                    div(class="residential-logo-wall__item")
                        div(class="residential-logo-wall__thumbnail")
                            a(href="#")
                                img(src="../images/logo-wall-3.png")
                        div(class="residential-logo-wall__description")
                            p 843-763-2007