div(class="residential-main-photo-gallery")
    div(class="container")
        div(class="row")
            div(class="col-xs-12 col-sm-4 col-md-4")
                div(class="residential-main-photo-gallery__item", style="background-image: url(../images/main-gallery-1.jpg)")
            div(class="col-xs-12 col-sm-4 col-md-4")
                div(class="residential-main-photo-gallery__item", style="background-image: url(../images/main-gallery-2.jpg)")
            div(class="col-xs-12 col-sm-4 col-md-4")
                div(class="residential-main-photo-gallery__item", style="background-image: url(../images/main-gallery-3.jpg)")
    