div(class="residential-service-gallery photo-gallery")
    div(class="container")
        div(class="row")
            div(class="col-xs-12 col-sm-4 col-md-4")
                div(class="residential-service-gallery__item")
                    h3(class="residential-service-gallery__title") Photo Title 1
                    div(class="residential-service-gallery__thumbnail")
                        img(src="../images/service-gallery-1.jpg", class="image-lightbox")
            div(class="col-xs-12 col-sm-4 col-md-4")
                div(class="residential-service-gallery__item")
                    h3(class="residential-service-gallery__title") Photo Title 2
                    div(class="residential-service-gallery__thumbnail")
                        img(src="../images/service-gallery-2.jpg", class="image-lightbox")
            div(class="col-xs-12 col-sm-4 col-md-4")
                div(class="residential-service-gallery__item")
                    h3(class="residential-service-gallery__title") Photo Title 3
                    div(class="residential-service-gallery__thumbnail")
                        img(src="../images/service-gallery-3.jpg", class="image-lightbox")
            div(class="col-xs-12 col-sm-4 col-md-4")
                div(class="residential-service-gallery__item")
                    h3(class="residential-service-gallery__title") Photo Title 1
                    div(class="residential-service-gallery__thumbnail")
                        img(src="../images/service-gallery-1.jpg", class="image-lightbox")
            div(class="col-xs-12 col-sm-4 col-md-4")
                div(class="residential-service-gallery__item")
                    h3(class="residential-service-gallery__title") Photo Title 2
                    div(class="residential-service-gallery__thumbnail")
                        img(src="../images/service-gallery-2.jpg", class="image-lightbox")
            div(class="col-xs-12 col-sm-4 col-md-4")
                div(class="residential-service-gallery__item")
                    h3(class="residential-service-gallery__title") Photo Title 3
                    div(class="residential-service-gallery__thumbnail")
                        img(src="../images/service-gallery-3.jpg", class="image-lightbox")
            div(class="col-xs-12 col-sm-4 col-md-4")
                div(class="residential-service-gallery__item")
                    h3(class="residential-service-gallery__title") Photo Title 1
                    div(class="residential-service-gallery__thumbnail")
                        img(src="../images/service-gallery-1.jpg", class="image-lightbox")
            div(class="col-xs-12 col-sm-4 col-md-4")
                div(class="residential-service-gallery__item")
                    h3(class="residential-service-gallery__title") Photo Title 2
                    div(class="residential-service-gallery__thumbnail")
                        img(src="../images/service-gallery-2.jpg", class="image-lightbox")
            div(class="col-xs-12 col-sm-4 col-md-4")
                div(class="residential-service-gallery__item")
                    h3(class="residential-service-gallery__title") Photo Title 3
                    div(class="residential-service-gallery__thumbnail")
                        img(src="../images/service-gallery-3.jpg", class="image-lightbox")
                    
                            
                    

    