div(class="residential-testimonial")
    div(class="container")
        div(class="row")
            div(class="residential-testimonial__wrapper col-xs-12 col-sm-12 col-md-12")
                h1 Plantation oaks
                p offers the apartment home features and community conveniences that will enhance your quality of life. Welcome home to a lifestyle that you have only dreamed about – now it can be yours.
                    

    