extends ../layouts/root.jade

block title
    title Banner block

block content
    div#banner(class="blocks banner", style="background-image: url('../images/banner.jpg')")
        div(class="banner-contents")
            img(src="../images/hero-logo.png", alt="")