extends ../layouts/root.jade

block title
    title Call To Action block

block content
    div(class="residential-call-to-action")
        div(class="fixed-background", style="background-image: url('../images/call-to-action.jpg')") 
        div(class="container")
            div(class="row")
                div(class="col-xs-12 col-sm-12 col-md-12")
                    div(class="residential-call-to-action__content")
                        h1 Ready to move in?
                        p If you're ready to call Plantation Oaks home, click one of the links below
                        a(class="call-to-action-btn", href="#") Apply Now
                        a(class="call-to-action-btn", href="#") Schedule a tour
                     
                
                            
                    

    