include ../blocks/shared/text-content.jade
div(class="page contact-page")
	include ../blocks/shared/header.jade
	include ../blocks/shared/banner.jade
	+text_contents_("Contact Us")
	include ../blocks/shared/contact-form.jade
