extends ../layouts/root.jade

block title
    title Header block

block content
    div#hero(class="blocks hero")
        div(class="fixed-background", style="background-image: url('../images/hero-bg.jpg');")
        div(class="hero-contents")
            div.icon-wrapper
                img(src="../images/hero-logo.png", alt="")
            p Plantation Oaks is nestled among magnificent oak and flowering magnolia trees. The lush landscaping provides the<br /> perfect setting for outdoor activities or a serene view from your screened in porch.
            a(class="scroll-down", href="#")
                span
                span