extends ../layouts/root.jade

block title
    title Room Slider

block content
    div(class="residential-room-slider")
        div(class="container")
            div(class="row")
                div(class="residential-room-slider__header")
                    h2 One Bedrooms
            div(class="row")
                div(class="col-xs-12 col-sm-12 col-md-12")
                    div(class="residential-room-slider__slider")
                        div(class="row residential-room-slider__item")
                            div(class="col-xs-12 col-sm-4 col-md-4 col-sm-offset-1 col-md-offset-1")
                                div(class="residential-room-slider__thumbnail")
                                    img(src="../images/room-slider.jpg", alt="Room Slider")
                            div(class="col-xs-12 col-sm-6 col-md-6")
                                div(class="residential-room-slider__description")
                                    h3 Floor Plan Name
                                    p Some description ipsum dolor sit amet, consectetur adipiscing elit. Quisque maximus diam ex, eu pretium metus tristique ac. Curabitur et convallis purus, at feugiat mauris. Nullam vulputate finibus.
                                    div(class="residential-room-slider__detail")
                                        p Square Footage - 712 sq feet
                                        p Rent - $1111.00
                                    div(class="residential-room-slider__btns")
                                        a(href="#") Schedule a tour
                                        a(href="#") Apply now
                        div(class="row residential-room-slider__item")
                            div(class="col-xs-12 col-sm-4 col-md-4 col-sm-offset-1 col-md-offset-1")
                                div(class="residential-room-slider__thumbnail")
                                    img(src="../images/room-slider.jpg", alt="Room Slider")
                            div(class="col-xs-12 col-sm-6 col-md-6")
                                div(class="residential-room-slider__description")
                                    h3 Floor Plan Name
                                    p Some description ipsum dolor sit amet, consectetur adipiscing elit. Quisque maximus diam ex, eu pretium metus tristique ac. Curabitur et convallis purus, at feugiat mauris. Nullam vulputate finibus.
                                    div(class="residential-room-slider__detail")
                                        p Square Footage - 712 sq feet
                                        p Rent - $1111.00
                                    div(class="residential-room-slider__btns")
                                        a(href="#") Schedule a tour
                                        a(href="#") Apply now
                        div(class="row residential-room-slider__item")
                            div(class="col-xs-12 col-sm-4 col-md-4 col-sm-offset-1 col-md-offset-1")
                                div(class="residential-room-slider__thumbnail")
                                    img(src="../images/room-slider.jpg", alt="Room Slider")
                            div(class="col-xs-12 col-sm-6 col-md-6")
                                div(class="residential-room-slider__description")
                                    h3 Floor Plan Name
                                    p Some description ipsum dolor sit amet, consectetur adipiscing elit. Quisque maximus diam ex, eu pretium metus tristique ac. Curabitur et convallis purus, at feugiat mauris. Nullam vulputate finibus.
                                    div(class="residential-room-slider__detail")
                                        p Square Footage - 712 sq feet
                                        p Rent - $1111.00
                                    div(class="residential-room-slider__btns")
                                        a(href="#") Schedule a tour
                                        a(href="#") Apply now