extends ../layouts/root.jade

block title
    title Service Gallery block

block content
    div(class="residential-service-gallery")
        div(class="container")
            div(class="row row-eq-height")
                div(class="col-xs-12 col-sm-4 col-md-4")
                    div(class="residential-service-gallery__item")
                        div(class="residential-service-gallery__thumbnail" style="background-image: url('../images/service-gallery-1.jpg')")
                        div(class="residential-service-gallery__content")
                            h3 Amenities
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut posuere nisl, nec dapibus turpis. Etiam hendrerit lacus blandit odio ultricies, non imperdiet elit posuere. Pellentesque leo arcu, euismod quis commodo sit amet,
                            a(class="residential-service-gallery__more-btn", href="#") View
                div(class="col-xs-12 col-sm-4 col-md-4")
                    div(class="residential-service-gallery__item")
                        div(class="residential-service-gallery__thumbnail" style="background-image: url('../images/service-gallery-2.jpg')")
                        div(class="residential-service-gallery__content")
                            h3 Floor Plans
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut posuere nisl, nec dapibus turpis. Etiam hendrerit lacus blandit odio ultricies, non imperdiet elit posuere. Pellentesque leo arcu, euismod quis commodo sit amet,
                            a(class="residential-service-gallery__more-btn", href="#") View
                div(class="col-xs-12 col-sm-4 col-md-4")
                    div(class="residential-service-gallery__item")
                        div(class="residential-service-gallery__thumbnail" style="background-image: url('../images/service-gallery-3.jpg')")
                        div(class="residential-service-gallery__content")
                            h3 Neighborhood
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut posuere nisl, nec dapibus turpis. Etiam hendrerit lacus blandit odio ultricies, non imperdiet elit posuere. Pellentesque leo arcu, euismod quis commodo sit amet,
                            a(class="residential-service-gallery__more-btn", href="#") View
                div(class="col-xs-12 col-sm-4 col-md-4")
                    div(class="residential-service-gallery__item")
                        div(class="residential-service-gallery__thumbnail" style="background-image: url('../images/service-gallery-3.jpg')")
                        div(class="residential-service-gallery__content")
                            h3 Neighborhood
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut posuere nisl, nec dapibus turpis. Etiam hendrerit lacus blandit odio ultricies, non imperdiet elit posuere. Pellentesque leo arcu, euismod quis commodo sit amet,
                            a(class="residential-service-gallery__more-btn", href="#") View
                            
                    

    