extends ../layouts/root.jade

block title
    title Text content block

block content
    .page-contents
        .container
            h1 About Us
            p Plantation Oaks is nestled among magnificent oak and flowering magnolia trees. The lush landscaping provides the perfect setting for outdoor activities or a serene view from your screened in porch. Situated west of the Ashley River, Plantation Oaks is located in close proximity to downtown Charleston, the Ashley River or local beaches. Plantation Oaks offers the apartment home features and community conveniences that will enhance your quality of life. Welcome home to a lifestyle that you have only dreamed about – now it can be yours.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis elit eget eros malesuada faucibus. Morbi et viverra enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis iaculis augue eu interdum tempor. Nulla eget semper odio. Maecenas finibus velit nec tellus sodales fringilla. Morbi aliquam tristique pulvinar. Nulla facilisi. Praesent vel lorem lacus.