extends ../layouts/root.jade

block title
    title Three images block

block content
    div(class="residential-service-gallery photo-gallery")
        div(class="container")
            div(class="row")
                div(class="col-xs-12 col-sm-4 col-md-4")
                    div(class="residential-service-gallery__item")
                        div(class="residential-service-gallery__thumbnail" style="background-image: url('../images/service-gallery-1.jpg')")
                div(class="col-xs-12 col-sm-4 col-md-4")
                    div(class="residential-service-gallery__item")
                        div(class="residential-service-gallery__thumbnail" style="background-image: url('../images/service-gallery-2.jpg')")
                div(class="col-xs-12 col-sm-4 col-md-4")
                    div(class="residential-service-gallery__item")
                        div(class="residential-service-gallery__thumbnail" style="background-image: url('../images/service-gallery-3.jpg')")
                    
                            
                    

    