@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using High.Net.Models
@using High.Net.Core
@using High.Net.Models.Associates.Pages

@model PageViewModel<SignUpPage>


@Html.Partial("~/Views/Associates/Shared/Banner.cshtml")
<div class="spacer"></div>
<div class="container">
   <div class="row">
       <div class="col-md-12">
       <iframe src="@ViewBag.FrameUrl" width="560" height="1000" frameborder="0" ></iframe>
           </div>
   </div>
</div>
