div.leadership-footer
        div.container
            div.row
                div.col-xs-12.col-sm-5.col-md-4
                    div.leadership-footer__company-outro
                        a(href="#")
                            img(src="../images/banner-logo-2.png", alt="Leadership footer logo")
                        div.leadership-footer__company-outro__address
                            p 1861 William Penn Way
                            p Lancaster, Pa 17601
                div.col-xs-12.col-sm-5.col-md-6
                    div.leadership-footer__nav
                        ul
                            li
                                a(href="#") About
                            li
                                a(href="#") S. Dale High's Legacy
                            li
                                a(href="#") Family Foundation
                            li
                                a(href="#") The High Story
                            li
                                a(href="#") Contact
                            li
                                a(href="#") High.net
                div.col-xs-12.col-sm-2.col-md-2
                    div.leadership-footer__social
                        a(href="#")
                            img(src="../images/facebook.png", alt="Facebook")
                        a(href="#")
                            img(src="../images/twitter.png", alt="Twitter")
                        a(href="#")
                            img(src="../images/linkedin.png", alt="Linkedin")
                    