div.leadership-header-banner.type-2
    div.container
        div.row
            div.col-xs-12.col-sm-12.col-md-12
                div.leadership-header-banner__text
                    h1 Lorem ipsum dolor sit amet
                    