div.leadership-header-banner
    div.container
        div.row
            div.col-xs-12.col-sm-12.col-md-12
                div.leadership-header-banner__logo
                    img(src="../images/banner-logo-1.png", alt="Header banner logo")
                    