div.leadership-photo-slider
    div.container
        div.row 
            div.col-xs-12.col-sm-12.col-md-6
                div.leadership-photo-slider__title
                    h1 Lorem ipsum dolor.
        div.row
            div.col-xs-12.col-sm-12.col-md-12
                div.leadership-photo-slider__slider
                    div.leadership-photo-slider__slider-item
                        div.leadership-photo-slider__thumbnail
                            img.photo-lightbox(src="../images/photo-slider-1.jpg", alt="Photo slider", data-image="../images/photo-slider-1.jpg")
                    div.leadership-photo-slider__slider-item
                        div.leadership-photo-slider__thumbnail
                            img.photo-lightbox(src="../images/photo-slider-1.jpg", alt="Photo slider", data-image="../images/photo-slider-1.jpg")
                    div.leadership-photo-slider__slider-item
                        div.leadership-photo-slider__thumbnail
                            img.photo-lightbox(src="../images/photo-slider-1.jpg", alt="Photo slider", data-image="../images/photo-slider-1.jpg")
                    div.leadership-photo-slider__slider-item
                        div.leadership-photo-slider__thumbnail
                            img.photo-lightbox(src="../images/photo-slider-1.jpg", alt="Photo slider", data-image="../images/photo-slider-1.jpg") 
                    div.leadership-photo-slider__slider-item
                        div.leadership-photo-slider__thumbnail
                            img.photo-lightbox(src="../images/photo-slider-1.jpg", alt="Photo slider", data-image="../images/photo-slider-1.jpg")
                div.leadership-photo-slider__caption
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.