div.leadership-pure-image
    div.container
        div.row
            div.col-xs-12.col-sm-12.col-md-12
                div.leadership-pure-image__title
                    h1 Facility Layout
        div.row 
            div.col-xs-12.col-sm-12.col-md-12
                div.leadership-pure-image__image
                    img.image-lightbox(src="../images/pure-image.jpg", alt="Facility Layout", data-image="../images/pure-image.jpg")