.vs
*.suo
*.user
bin
obj
packages
/High.Net.Web/modules/_protected/ImageVault.EPiServer.UI/ImageVault.EPiServer.UI.rar
/Techease.TypeSynchronization/App_Data
/Techease.TypeSynchronization/modules/_protected
/High.Net.Web/ClientResources/Images/icons/Thumbs.db
/modules
/High.Net.Web/App_Data
node_modules
bower_components
.idea
/High.Net.Web/License.config
/High.Net.Web/imagevault.client.config
High.Net.Web/Web.config

