<?xml version="1.0" encoding="utf-8"?>
<module>
  <assemblies>
    <add assembly="High.Net.Web" />
  </assemblies>

  <clientResources debug="true">
    <add name="epi-cms.widgets.base" path="Styles/Styles.css" resourceType="Style" />
    <add name="epi-cms.widgets.base" path="Styles/ColorPickerExt.css" resourceType="Style" />
  </clientResources>
  <dojo>
    <paths>
      <add name="highnet" path="~/ClientResources/Scripts" />
      <add name="tedgustaf" path="" />
    </paths>
  </dojo>
  <clientModule initializer="highnet.ModuleInitializer"></clientModule>
</module>

