<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="Solve360_Username" value="webservice@high.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Solve360_Token" value="neV5j3b6W5C9Qae8+cg7B7N4dat5se46ie=eA2n7" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ExecuteScheduleJobs" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <episerver.framework>

    <blob defaultProvider="azureblobs" xdt:Transform="Insert">
      <providers>
        <add name="azureblobs" type="EPiServer.Azure.Blobs.AzureBlobProvider,EPiServer.Azure" connectionStringName="EPiServerAzureBlobs" container="mysitemedia" />
      </providers>
    </blob>

    <event defaultProvider="azureevents" xdt:Transform="Insert">
      <providers>
        <add name="azureevents" type="EPiServer.Azure.Events.AzureEventProvider,EPiServer.Azure" connectionStringName="EPiServerAzureEvents" topic="MySiteEvents" />
      </providers>
    </event>

  </episerver.framework>

  <episerver.find serviceUrl="http://es-us-api01.episerver.com/bi7QTnazf7DKKCAyEnlHy57vgsrKc3PZ" defaultIndex="hicohighcompanyllc_hicoll4om51prod"  xdt:Transform="Replace"/>
  
  <connectionStrings>
    <add name="EPiServerDB"         
         connectionString="Data Source=tcp:hicoll4om51stag.database.windows.net,1433;Initial Catalog=epicms;User Id=dbUser_hico_s@hicoll4om51stag;Password=Z4QnW9e2vaK7;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True" 
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace" xdt:Locator="Match(name)" />

    
  </connectionStrings>

  <imagevault.client>
    <authentication>
      <!--Add the Client identity below (username, password)-->
      <sdkIdentity key="iv4sdk" secret="!9gkGjdjf43!jg!9H" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    </authentication>
    <!--Change the address to point to your ImageVault Core instance-->
    <imageVaultCore address="http://10.80.6.132:84/apiv2/" xdt:Transform="Replace"/>
    <appSettings>
      <add key="ImageVaultUiUrl" value="http://40.76.19.17:84/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <add key="defaultMediaUrlBase" value="/imagevault/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    </appSettings>
  </imagevault.client>
</configuration>
