@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using High.Net.Core
@using High.Net.Models.HighSteelStructure.Pages

@model PageViewModel<FAQItemPage>

<div class="container">
    <div class="common-container about">
        @*<h5>@Html.PropertyFor(x => x.CurrentPage.FAQQuestion)</h5>*@
        @Html.PropertyFor(x => x.CurrentPage.FAQAnswer)
    </div>
</div>

@section SiteFooter
{
    <script>
        $('.collapse').on('shown.bs.collapse', function () {
            $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hidden.bs.collapse', function () {
            $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
    </script>
}
