extends layouts/root.jade

block title
    title Index

block css
    link(href="css/styles.min.css", charset="utf-8", rel="stylesheet")

block content
    div(class="container")
        h2 Blocks
        ul(class="list-group")
            li(class="list-group-item")
                a(href="blocks/header.html") Header block
            li(class="list-group-item")
                a(href="blocks/hero.html") Hero block
            li(class="list-group-item")
                a(href="blocks/main-gallery.html") Main Gallery block
            li(class="list-group-item")
                a(href="blocks/testimonial.html") Testinomial block
            li(class="list-group-item")
                a(href="blocks/service-gallery.html") Service Gallery block
            li(class="list-group-item")
                a(href="blocks/location.html") Location block
            li(class="list-group-item")
                a(href="blocks/call-to-action.html") Call to Action
            li(class="list-group-item")
                a(href="blocks/footer.html") Footer block
            li(class="list-group-item")
                a(href="blocks/footer-type-2.html") Footer type 2 block
            li(class="list-group-item")
                a(href="blocks/banner.html") Banner block
            li(class="list-group-item")
                a(href="blocks/text-content.html") Text content block
            li(class="list-group-item")
                a(href="blocks/three-image-column.html") Three images column block
            li(class="list-group-item")
                a(href="blocks/category-list.html") Category list block
            li(class="list-group-item")
                a(href="blocks/photo-gallery.html") Photo Gallery block
    div(class="container")
        h2 Pages
        ul(class="list-group")
            li(class="list-group-item")
                a(href="pages/home.html") Home page
            li(class="list-group-item")
                a(href="pages/about-us.html") About Us
            li(class="list-group-item")
                a(href="pages/feature-photos.html") Feature &amp; Photos
            li(class="list-group-item")
                a(href="pages/floor-plans.html") Floor Plans
            li(class="list-group-item")
                a(href="pages/residents.html") Residents
            li(class="list-group-item")
                a(href="pages/neighborhood.html") Neighborhood
            li(class="list-group-item")
                a(href="pages/contact-us.html") Contact
            li(class="list-group-item")
                a(href="pages/event-list.html") Event list
            li(class="list-group-item")
                a(href="pages/faq.html") FAQ

block js
    script(src="scripts/scripts.min.js")
