@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using High.Net.Models.Industries.Blocks
@using ImageVault.EPiServer
@model HistoryBlock
@{
    var contentLoader = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.IContentLoader>();
    int count = 1;
}

@if (Model.HistoryContent != null)
{
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @foreach (var contentItem in Model.HistoryContent.Items)
            {
                var item = contentLoader.Get<ImageTextBlock>(contentItem.ContentLink);
                <div class="item @(count == 1 ? "active" : "")">
                    @Html.PropertyFor(x => item.Image, new { PropertySettings = new PropertyMediaSettings { Width = 350, Height = 280 }, CssClass = "img-responsive" })
                    @item.Description
                </div>
                count++;
            }
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}
