@using High.Net.Core
@using EPiServer.ServiceLocation
@using EPiServer.Web
@using EPiServer.Core
@using REG = High.Net.Models.RealEstateGroup.Pages
@using RO = High.Net.Models.Rollover.Pages
@model IPageViewModel<BasePageData>
@{
    var contentLoader = ServiceLocator.Current.GetInstance<EPiServer.IContentLoader>();
    var homePage = contentLoader.Get<REG.HomePage>(SiteDefinition.Current.StartPage);

    RO.HomePage currenthomePage;
    if (Model.CurrentPage.GetType().BaseType == typeof(RO.HomePage))
    {
        currenthomePage = contentLoader.Get<RO.HomePage>(Model.CurrentPage.ContentLink);
    }
    else
    {
        currenthomePage = contentLoader.GetAncestors(Model.CurrentPage.ContentLink).Where(x => x.GetType().BaseType == typeof(RO.HomePage)).FirstOrDefault() as RO.HomePage;
    }
}
<!-- header strat-->
<div class="header">
    <div class="header-bottom">
        <div class="container">
            <div class="main-logo">
                <a href="@Url.ContentUrl(homePage.ContentLink)">
                    @Html.PropertyFor(x => homePage.SiteLogo, new { PropertySettings = new ImageVault.EPiServer.PropertyMediaSettings { Width = 327, Height = 43 } })
                </a>
            </div>
            <div class="right-side">
                <div class="search-box">
                    @using (Html.BeginForm(null, null, EPiServer.Editor.PageEditing.PageIsInEditMode ? FormMethod.Post : FormMethod.Get,
                        new { @action = Url.ContentUrl(currenthomePage.SearchPageUrl) }))
                    {
                        <input type="text" placeholder="Search for..." name="q" />
                        <button type="submit" class="search-btn-icon">
                            <img src="~/Static/residential-rollover/images/icon/search-logo.png" />
                        </button>
                    }
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header end-->