@using EPiServer.Core
@using High.Net.Core
@using High.Net.Models.RealEstateGroup.Pages

@model PageViewModel<ContentPage>
@Html.FullRefreshPropertiesMetaData(new[] { "PageContentArea" })
<div class="spacer"></div>
<div class="container" @Html.EditAttributes(m => m.CurrentPage.PageContentArea)>
    @*@Html.PropertyFor(m => m.CurrentPage.PageContentArea)*@
    @Html.PropertyFor(m => m.CurrentPage.PageContentArea, new { CssClass = "row", tag = Global.ContentAreaTags.FullWidth, Tags = new[] { Global.ContentAreaTags.FullWidth, Global.ContentAreaTags.TwoThirdsWidth, Global.ContentAreaTags.HalfWidth, Global.ContentAreaTags.OneThirdWidth } })
</div>
<div class="spacer"></div>