extends ../layouts/root.jade

block title
    title Family foundation page

block content
        // Header block
        include ../blocks/shared/header.jade

        // Header banner 2 block
        include ../blocks/shared/header-banner-2.jade

        // Two columns 2 block
        include ../blocks/shared/two-columns-2.jade
        
        // Location block
        include ../blocks/shared/location.jade

        // Footer block
        include ../blocks/shared/footer.jade