extends ../layouts/root.jade

block title
    title High legacy page

block content
        // Header block
        include ../blocks/shared/header.jade

        // Header banner 2 block
        include ../blocks/shared/header-banner-2.jade

        // Two columns block
        include ../blocks/shared/two-columns.jade

        // Testimonial slider block
        include ../blocks/shared/testimonial-slider.jade

        // Video block
        include ../blocks/shared/video-popup.jade
        
        // Location block
        include ../blocks/shared/location.jade

        // Footer block
        include ../blocks/shared/footer.jade