extends ../layouts/root.jade

block title
    title Home page

block content
        // Header block
        include ../blocks/shared/header.jade

        // Header banner block
        include ../blocks/shared/header-banner.jade

        // Two columns block
        include ../blocks/shared/two-columns.jade
        
        // Video popup block
        include ../blocks/shared/video-popup.jade

        // Carousel slider block
        include ../blocks/shared/carousel-slider.jade
        
        // Location block
        include ../blocks/shared/location.jade

        // Footer block
        include ../blocks/shared/footer.jade