@using EPiServer.Core
@using High.Net.Core
@using High.Net.Models.Rollover.Blocks
@model CommercialMultiFamily
@{
    var contentRepo = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.IContentRepository>();
    var contentLocator = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<ContentLocator>();

    var multifamilySites = contentRepo.GetChildren<High.Net.Models.Commercial.Pages.HomePage>(EPiServer.Web.SiteDefinition.Current.RootPage).Where(x => x.Location != null);
    var findAnSpacePage = contentLocator.GetAll<High.Net.Models.Rollover.Pages.FindAnSpacePage>(PageReference.StartPage).FirstOrDefault();
}
@if (multifamilySites != null)
{
    <div class="asset-services" style="margin-bottom:20px">
        <h2 class="title">
            Find an Space
        </h2>
        @*<hr class="blue-border">*@
        <div class="row">
            @foreach (var items in multifamilySites.GroupBy(x => x.Location))
            {
                <div class="col-md-4 col-sm-4">
                    <div class="apartment">
                        <a href="@((findAnSpacePage != null) ? (Url.ContentUrl(findAnSpacePage.ContentLink) + "?q=" + items.Key) : "#")">
                            @Html.PropertyFor(x => items.First().SiteImage, new { PropertySettings = new ImageVault.EPiServer.PropertyMediaSettings { Height = 250 }, CssClass = "img-responsive" })
                            <h3 class="slogan">@Html.PropertyFor(x => items.Key)</h3>
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="clearfix"></div>
    </div>
}