$pre: 'leadership-bulleted-list';

.#{$pre} {
    @include block-spacing($block-spacing, $block-spacing-tablet);

    .container {
        > div > div {
            &:last-child, &:nth-last-child(2) {
                @include respond-to-min($tabletSize) {
                    .#{$pre}__item {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }

    .#{$pre}__item {
        position: relative;
        padding: 0 50px;
        margin-bottom: 80px;

        @include respond-to-max($tabletSize) {
            padding: 0 25px;
            padding-bottom: 30px;
            margin-bottom: 30px;
        }

        span.number-indicator {
            position: absolute;
            top: 35px;
            left: 5px;
            color: $color-red;
            @include set-font('%droidserif-bold', 154px);
            z-index: -1;

            @include respond-to-max($tabletSize) {
                font-size: 90px;
                left: 0;
                top: 10px;
            }
        }

        h4 {
            @extend %small-title;
        }

        p {
        }

        .leadership-btn {
            @include respond-to-min($tabletSize) {
                position: absolute;
                left: 50%;
                @include prefix(( transform: translate(-50%, 0) ), webkit moz ms o);
                bottom: -40px;
            }
        }
    }
}