@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using High.Net.Core
@using High.Net.Models.HighConstructionCo.Pages

@model PageViewModel<ContentPage>
@{
    var contentLoader = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.IContentLoader>();   
}
<div class="abt-mgt">
    <div class="container">
        @Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass="row" , tag = Global.ContentAreaTags.FullWidth , Tags = new [] { Global.ContentAreaTags.FullWidth , Global.ContentAreaTags.ThreeFourthWidth , Global.ContentAreaTags.HalfWidth , Global.ContentAreaTags.TwoThirdsWidth , Global.ContentAreaTags.OneThirdWidth  } })
    </div>
</div>
