// ------------------------------------------------------------------------- //
// #COLORS
//
// Color definitions and global color usings.
// Use http://chir.ag/projects/name-that-color to name colors.
// ------------------------------------------------------------------------- //



// Palette
$color-black:                   #000;
$color-white:                   #fff;
$color-red:                     #ED1C24;
$color-dark-red:                #C51E25;
$color-gray:                    #ACACAC;
$color-light-gray:              #EBEBEB;
$color-light-gray-2:              #b5b5b5;
$color-light-green:             #00E676;
$color-black-half:              rgba(0, 0, 0, 0.5);
$color-white-half:              rgba(255, 255, 255, 0.5);
$color-white-almost:            rgba(255, 255, 255, 0.95);
$color-black-one-four:          rgba(0, 0, 0, 0.25);
$color-lighter-gray:            #D7D7D7;
$color-dark-gray:               #BDBDBD;
$color-darker-gray:             #ADADAD;
$color-gray-2:                  #6F6F6F;
$color-light-green:             #71ea92;