/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fff;
    color: #000000;
    font-family: arial;
    font-size: 14px;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 18px;
}

.module {
    padding: 10px 0;
}

.sub-header {
    margin: 40px 0;
}

.spacer {
    margin: 10px 0;
    height: 1px;
}