extends ../layouts/root.jade

block title
    title Contact page

block content
    div#residential-wrapper
        include ../blocks/contact-page-contents.jade
        include ../blocks/shared/footer-type-2.jade