extends ../layouts/root.jade

block title
    title Event List

block content
    div#residential-wrapper
        // Header block
        include ../blocks/shared/header.jade

        // Banner block
        include ../blocks/shared/banner.jade

        // Event list block
        include ../blocks/shared/event-list.jade
    
        // Footer type 2 block
        include ../blocks/shared/footer-type-2.jade