extends ../layouts/root.jade

block title
    title Feature &amp; Photos

block content
    div#residential-wrapper
        // Header block
        include ../blocks/shared/header.jade

        // Banner block
        include ../blocks/shared/banner.jade

        // Category list block
        include ../blocks/shared/category-list.jade

        // Photo gallery block
        include ../blocks/shared/photo-gallery.jade
    
        // Footer type 2 block
        include ../blocks/shared/footer-type-2.jade