@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using High.Net.Core
@using High.Net.Models.HighConcrete.Pages

@model PageViewModel<ProductListingPage>
@{
    var contentLoader = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.IContentLoader>();

    var applicationList = contentLoader.GetChildren<ProductListingPage>(Model.CurrentPage.ContentLink);
    var ProductItemPage = contentLoader.GetChildren<ProductItemPage>(Model.CurrentPage.ContentLink);
}

@Html.Partial("~/Views/HighConcrete/Shared/Banner.cshtml", Model)
<div class="">
    <div class="social-media">
        <div class="row">
            @Html.Partial("~/Views/HighConcrete/Shared/LeftContent.cshtml", Model)
            <div class="col-md-8 col-sm-8 section">
                @Html.PropertyFor(x => x.CurrentPage.MainContentArea, new
                       {
                           CssClass = "row",
                           tag = Global.ContentAreaTags.FullWidth,
                           Tags = new[]
                           {
                                Global.ContentAreaTags.FullWidth,
                                Global.ContentAreaTags.TwoThirdsWidth,
                                Global.ContentAreaTags.HalfWidth,
                                Global.ContentAreaTags.OneThirdWidth,
                                Global.ContentAreaTags.OneFourthWidth,
                                Global.ContentAreaTags.OneFifthWidth,
                                Global.ContentAreaTags.OneTwelfthWidth,
                                Global.ContentAreaTags.NoRenderer
                           }
                       })
            </div>
            <div class="spacer"></div>
        </div>
    </div>
</div>
<div class="spacer"></div>