// ------------------------------------------------------------------------- //
// #MIXINS
// ------------------------------------------------------------------------- //

// Set opacity for elements that compatible with some older browsers
@mixin set-opacity($value) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$value*10+")";
  -ms-filter: alpha($value*10);
  filter: alpha(opacity=$value*10);
  -moz-opacity: $value;
  -khtml-opacity: $value;
  opacity: $value;
}

@mixin block-spacing($desktop, $tablet) {
    padding: $desktop;

    @include respond-to-max($tabletSize) {
        padding: $tablet;
    }
}

@mixin header-title($fontSize, $fontSizeTablet) {
    font-size: $fontSize;
    color: $color-orange;
    @extend %uppercase-text;
    line-height: 1.5;

    @include respond-to-max($hugeSize) {
        font-size: $fontSizeTablet;
    }
}
