extends ../layouts/root.jade

block title
    title Location block

block content
    div.leadership-article-slider
        div.container
            div.row 
                div.col-xs-12.col-sm-12.col-md-6
                    div.leadership-article-slider__title
                        h1.left Education
        div.leadership-article-slider__slider
            div.leadership-article-slider__slider-item
                div.leadership-article-slider__slider-item__thumb
                    div.row
                        div.col-xs-12.col-sm-6.col-sm-offset-6.col-md-6.col-md-offset-6
                            div.leadership-article-slider__slider-item__image
                div.leadership-article-slider__slider-item__description
                    div.container
                        div.row
                            div.col-xs-12.col-sm-6.col-md-6.left-column
                                div.leadership-article-slider__slider-item__description-wrapper
                                    div.wrapper-center-div
                                        h3 Boys and Girls Club of Lancaster
                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus tortor, venenatis id nisi non, dignissim egestas ligula. Praesent scelerisque, libero sed lobortis efficitur, mauris nunc maximus purus, id faucibus mi elit vel tellus. Nullam nec vehicula odio, ut rhoncus nulla. Praesent scelerisque ex quis ligula ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus tortor, venenatis id nisi non, dignissim egestas ligula. Praesent scelerisque, libero sed lobortis efficitur, mauris nunc maximus purus, id faucibus mi elit vel tellus. Nullam nec vehicula odio, ut rhoncus nulla. Praesent scelerisque ex quis ligula ultricies.
            div.leadership-article-slider__slider-item
                div.leadership-article-slider__slider-item__thumb
                    div.row
                        div.col-xs-12.col-sm-6.col-sm-offset-6.col-md-6.col-md-offset-6
                            div.leadership-article-slider__slider-item__image
                div.leadership-article-slider__slider-item__description
                    div.container
                        div.row
                            div.col-xs-12.col-sm-6.col-md-6.left-column
                                div.leadership-article-slider__slider-item__description-wrapper
                                    div.wrapper-center-div
                                        h3 Boys and Girls Club of Lancaster
                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus tortor, venenatis id nisi non, dignissim egestas ligula. Praesent scelerisque, libero sed lobortis efficitur.
            div.leadership-article-slider__slider-item
                div.leadership-article-slider__slider-item__thumb
                    div.row
                        div.col-xs-12.col-sm-6.col-sm-offset-6.col-md-6.col-md-offset-6
                            div.leadership-article-slider__slider-item__image
                div.leadership-article-slider__slider-item__description
                    div.container
                        div.row
                            div.col-xs-12.col-sm-6.col-md-6.left-column
                                div.leadership-article-slider__slider-item__description-wrapper
                                    div.wrapper-center-div
                                        h3 Boys and Girls Club of Lancaster
                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus tortor, venenatis id nisi non, dignissim egestas ligula. 
                        
                        