extends ../layouts/root.jade

block title
    title Footer block

block content
    div.leadership-footer
        div.container
            div.row
                div.col-xs-12.col-sm-2.col-md-2
                    div.leadership-footer__company-outro
                        a(href="#")
                            img(src="../images/logo-with-text-2.png", alt="Leadership footer logo")
                div.col-xs-12.col-sm-8.col-md-8
                    div.leadership-footer__nav
                        ul
                            li
                                a(href="about.html") About
                            li
                                a(href="focus-area.html") Focus Area
                            li
                                a(href="partners.html") Partners
                            li
                                a(href="how-we-work.html") How We Work
                            li
                                a(href="#") Extra Ordinary Give
                            li
                                a(href="#") Contact
                            li
                                a(href="http://high.net") High.net
                div.col-xs-12.col-sm-2.col-md-2
                    div.leadership-footer__social
                        a(href="#")
                            img(src="../images/facebook.png", alt="Facebook")
                        a(href="#")
                            img(src="../images/twitter.png", alt="Twitter")
                        a(href="#")
                            img(src="../images/linkedin.png", alt="Linkedin")
                    
                    
                    