extends ../layouts/root.jade

block title
    title Header banner block

block content
    div.leadership-header-banner
        div.container
            div.row
                div.col-xs-12.col-sm-12.col-md-12
                    div.leadership-header-banner__text
                        h1 The S. Dale High Family Foundation.
                        p A philanthropic non-pr A philanthropic non-profit orvganization.ofit orgavnization.
                    div.leadership-header-banner__cursor
                        p Continue Reading
                    
                    