extends ../layouts/root.jade

block title
    title Logo wall

block content
    div.leadership-logo-wall
        div.container
            div.row
                div.col-xs-4.col-sm-3.col-md-15
                    div.leadership-logo-wall__item
                        a(href="#")
                            img(src="../images/partners/Water_Street_Mission.jpg", alt="Water Street Ministries")
                div.col-xs-4.col-sm-3.col-md-15
                    div.leadership-logo-wall__item
                        a(href="#")
                            img(src="../images/partners/United_Way_Lanc.jpg", alt="United Way Lanc")
                div.col-xs-4.col-sm-3.col-md-15
                    div.leadership-logo-wall__item
                        a(href="#")
                            img(src="../images/partners/Thaddeus_Steve.png", alt="Thaddeus Steve")
                div.col-xs-4.col-sm-3.col-md-15
                    div.leadership-logo-wall__item
                        a(href="#")
                            img(src="../images/partners/SE_Lanc_Health.jpg", alt="SouthEast Lancaster Health Services")
                div.col-xs-4.col-sm-3.col-md-15
                    div.leadership-logo-wall__item
                        a(href="#")
                            img(src="../images/partners/Race_Racism.jpg", alt="Race Racism")
                div.col-xs-4.col-sm-3.col-md-15
                    div.leadership-logo-wall__item
                        a(href="#")
                            img(src="../images/partners/BSA.png", alt="BSA")
                div.col-xs-4.col-sm-3.col-md-15
                    div.leadership-logo-wall__item
                        a(href="#")
                            img(src="../images/partners/Lanc_Chamber_CI.png", alt="Lancaster Chamber")
                div.col-xs-4.col-sm-3.col-md-15
                    div.leadership-logo-wall__item
                        a(href="#")
                            img(src="../images/partners/Lanc_County_Churches.png", alt="Lancaster County Churches")
                div.col-xs-4.col-sm-3.col-md-15
                    div.leadership-logo-wall__item
                        a(href="#")
                            img(src="../images/partners/Fire_Co.png", alt="Fire Co")
                div.col-xs-4.col-sm-3.col-md-15
                    div.leadership-logo-wall__item
                        a(href="#")
                            img(src="../images/partners/Hospice.png", alt="Hospice")
                div.col-xs-4.col-sm-3.col-md-15
                    div.leadership-logo-wall__item
                        a(href="#")
                            img(src="../images/partners/Fulton_Theatre.png", alt="Fulton Theatre")
                div.col-xs-4.col-sm-3.col-md-15
                    div.leadership-logo-wall__item
                        a(href="#")
                            img(src="../images/partners/Extra_Give.png", alt="Extra Give")
                div.col-xs-4.col-sm-3.col-md-15
                    div.leadership-logo-wall__item
                        a(href="#")
                            img(src="../images/partners/WITF.jpg", alt="WITF")
                div.col-xs-4.col-sm-3.col-md-15
                    div.leadership-logo-wall__item
                        a(href="#")
                            img(src="../images/partners/Whitaker_Center.jpg", alt="Whitaker Center")
                div.col-xs-4.col-sm-3.col-md-15
                    div.leadership-logo-wall__item
                        a(href="#")
                            img(src="../images/partners/Lanc_History_Org.png", alt="Lancaster History Organisation")