extends ../layouts/root.jade

block title
    title Two columns 2 block

block content
    div.leadership-testimonial-slider
        div.leadership-testimonial-slider__title
            div.container
                div.row
                    div.col-xs-12.col-sm-12.col-md-6
                            h3 Lorem Ipsum Dolor Sit Amet.
        div.leadership-testimonial-slider__main
            div.container
                div.row
                    div.leadership-testimonial-slider__image
                    div.leadership-testimonial-slider__slider
                        div.leadership-testimonial-slider__slider-item
                            div.leadership-testimonial-slider__slider-item__wrapper
                                div.col-xs-12.col-sm-8.col-md-6
                                    h3 Ut ornare erat a tellus accumsan sollicitudin. Praesent sit amet urna odio. Nulla at rutrum ex. Nulla molestie neque mi, in pretium ipsum mattis eu. 
                        div.leadership-testimonial-slider__slider-item
                            div.leadership-testimonial-slider__slider-item__wrapper
                                div.col-xs-12.col-sm-10.col-md-6
                                    h3 Praesent scelerisque, libero sed lobortis efficitur, mauris nunc maximus purus, id faucibus mi elit vel tellus. Nullam nec vehicula odio, ut rhoncus nulla.
                        div.leadership-testimonial-slider__slider-item
                            div.leadership-testimonial-slider__slider-item__wrapper
                                div.col-xs-12.col-sm-10.col-md-6
                                    h3 Praesent scelerisque ex quis ligula ultricies, quis vulputate nunc volutpat.
                        div.leadership-testimonial-slider__slider-item
                            div.leadership-testimonial-slider__slider-item__wrapper
                                div.col-xs-12.col-sm-10.col-md-6
                                    h3 Donec purus tortor, venenatis id nisi non, dignissim egestas ligula.
                        div.leadership-testimonial-slider__slider-item
                            div.leadership-testimonial-slider__slider-item__wrapper
                                div.col-xs-12.col-sm-10.col-md-6
                                    h3 Suspendisse bibendum ipsum ac malesuada scelerisque. Sed gravida ante quis leo eleifend ullamcorper.
                        div.leadership-testimonial-slider__slider-item
                            div.leadership-testimonial-slider__slider-item__wrapper
                                div.col-xs-12.col-sm-10.col-md-6
                                    h3 Donec purus tortor, venenatis id nisi non, dignissim egestas ligula. Praesent scelerisque, libero sed lobortis efficitur, mauris nunc maximus purus, id faucibus mi elit vel tellus. Nullam nec vehicula odio, ut rhoncus nulla. Donec purus tortor, venenatis id nisi non, dignissim egestas ligula.