extends ../layouts/root.jade

block title
    title Two columns block

block content
    div.leadership-two-columns
        div.container
            div.row
                div.col-xs-12.col-sm-6.col-md-6
                    div.leadership-two-columns__details
                        p The S. Dale High Family Foundation is a philanthropic non-profit organization that was originally established as The High Foundation in 1980 by the High Family.                         p Its mission is to align with community organizations to support positive change within areas of identified need, as well as develop its own projects for positive community impact.                div.col-xs-12.col-sm-6.col-md-6
                    div.leadership-two-columns__details
                        p The Foundation also assists High co-workers in meeting the costs of college education for their children through a competitive scholarship program.
                        a.leadership-btn(href="#") About Us
    
    
    
    