@using High.Net.Core
@using High.Net.Models
@using High.Net.Models.GreenfieldArchitects.Pages

@model PageViewModel<ServicePage>

@Html.Partial("~/Views/GreenfieldArchitects/Shared/Banner.cshtml", Model.CurrentPage.PageBanner != null ? Model.CurrentPage.PageBanner : new ImageVault.EPiServer.MediaReference())

<div class="container">
<div class="black-band">
    <div class="container">
        <h1>@Model.CurrentPage.Name</h1>
    </div>
</div>


    <div class="common-container services">
        <div class="row">
            <div class="col-md-12">
                @Html.PropertyFor(x => x.CurrentPage.Description)
            </div>
        </div>
    </div>
</div>