@using EPiServer.Core
@using High.Net.Core
@using High.Net.Models.RealEstateGroup.Blocks

@model MainBlock

<div class="welcome ">
    <h2 class="title">@Html.PropertyFor(x => x.Heading)</h2>
    @Html.PropertyFor(m => m.BlockContentArea, new { CssClass = "row", tag = Global.ContentAreaTags.NoRenderer, Tags = new[] { Global.ContentAreaTags.FullWidth, Global.ContentAreaTags.TwoThirdsWidth, Global.ContentAreaTags.HalfWidth, Global.ContentAreaTags.OneThirdWidth } })
    <div class="clearfix"></div>
</div>
