div.leadership-header-banner
    div.leadership-header-banner__image
    div.container
        div.row
            div.col-xs-12.col-sm-12.col-md-12
                div.leadership-header-banner__testimonial
                    h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus tortor, venenatis id nisi non, dignissim egestas ligula. Praesent scelerisque, libero sed lobortis efficitur, mauris nunc maximus purus, id faucibus mi elit vel tellus. 
                div.leadership-header-banner__cursor
                    