div.leadership-header-banner
    div.leadership-header-banner__image
    div.container
        div.row
            div.col-xs-12.col-sm-12.col-md-12
                div.leadership-header-banner__text
                    h1 The S. Dale High Family Foundation.
                    p.italic A philanthropic non-pr A philanthropic non-profit orvganization.ofit orgavnization.
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec Purus tortor, venenatis id nisi non, dignissim egestas ligula.
                div.leadership-header-banner__cursor
                    p Continue Reading
                    