div.leadership-two-columns
    div.container
        div.row
            div.col-xs-12.col-sm-6.col-md-6
                div.leadership-two-columns__details
                    h1 Contact Us.
                    p For more information on the S. Dale High Family Foundation, please fill out the form and someone will get back to you as soon as possible.            div.col-xs-12.col-sm-6.col-md-6
                form.leadership-two-columns__form
                    div.leadership-two-columns__form-input
                        label(for="fullname") First & Last Name*
                        input(type="text", id="fullname")
                    div.leadership-two-columns__form-input
                        label(for="email") Email Address
                        input(type="text", id="email")
                    div.leadership-two-columns__form-input
                        label(for="message") Message*
                        textarea(id="message")
                    input.leadership-btn(type="submit", value="Submit")
    