@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using High.Net.Models.HighConstructionCo.Blocks

@model TextBlock

 <h4>@Html.PropertyFor(x=> x.Heading)</h4>
@Html.PropertyFor(x=> x.Description)

