$pre: 'residential-contact-information';

.#{$pre} {
    @include block-spacing($block-spacing-type-2, $block-spacing-type-2-tablet);
    background: $color-white;

    .#{$pre}__wrapper {
        text-align: center;

        h3 {
            @extend %uppercase-text;
            font-size: $residents-contact-information-font-size;
            line-height: 1.3;

            @include respond-to-max($tabletSize) {
                font-size: $residents-contact-information-font-size-tablet;
            }

            span {
                @extend %roboto-bold;
                display: block;
            }
        }
    }
}
