@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using High.Net.Core
@using High.Net.Models.HighNet.Blocks

@model TaskBlock

<p><strong> @Model.TaskHeading </strong></p>
@Model.TaskDescription



