@model High.Net.Models.HighNet.Blocks.TestimonialBlock
<div class="col-sm-12">
    <div class="test-content">
        <p>@Html.PropertyFor(x => Model.Quote)</p>
        <span class="desig">@Html.PropertyFor(x => Model.Name)</span>
    </div>
</div>
