@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using High.Net.Models.Residential.Blocks

@model TextBlock

@if (Model.Heading != null)
{
    <h4 class="hightlight-heading">@Html.PropertyFor(x => x.Heading)</h4>
}
@Html.PropertyFor(x => x.Text)
<div class="spacer"></div>




