@using EPiServer.Core
@using High.Net.Core
@using High.Net.Models.HighAppraisal.Pages
@model PageViewModel<ContentPage>
@Html.Partial("~/Views/HighAppraisal/Shared/Banner.cshtml")

<div class="property white-bg">
    <div class="container">
        @Html.PropertyFor(x => x.CurrentPage.ContentArea, new { CssClass = "row", tag = Global.ContentAreaTags.FullWidth, Tags = new[] { Global.ContentAreaTags.FullWidth, Global.ContentAreaTags.TwoThirdsWidth, Global.ContentAreaTags.HalfWidth, Global.ContentAreaTags.OneThirdWidth } })
    </div>
</div>