/******** GLOBAL CLASSES *************/

@import url(//fonts.googleapis.com/css?family=Open+Sans);
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
}


.open-sans {
    font-family: 'Open Sans', sans-serif !important;
}
/********Page specific styling*************/
.s-icon .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background: transparent;
}

h1, h2, h3, h4, h5, h6 {
    border: none;
}

.dropdown-menu {
    background: #000 none repeat scroll 0 0;
    border-radius: 0;
    min-width: 300px;
    z-index: 200;
    transition: all 0.3s ease-out 0s;
}

.navbar-right .dropdown-menu {
    left: auto;
    right: auto;
}

.dropdown-menu > li > a {
    color: #ffffff;
}

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        background: transparent;
        border: none;
        color: #D30007;
    }

.dropdown-menu .divider {
    background-color: #5C5C5C;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
}

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #D30007;
    }

.navbar-default .navbar-toggle {
    border-color: #000;
}

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #000;
    }

.dropdown-menu > li {
    border-bottom: 1px solid #666666;
    padding: 8px 0;
}

.dropdown-menu li:last-child {
    border-bottom: 0 none;
}

.caret-dd {
    background: transparent none repeat scroll 0 0;
    border: medium none !important;
    padding: 10px 15px !important;
    position: absolute !important;
    right: 20px;
    top: 0;
}

.contact-detail,
.contact-us {
    background-color: #000;
    color: #fff;
    text-align: left;
}

.contact-detail-item {
    margin-bottom: 5px;
    float: left;
    width: 150px;
}

a {
    color: inherit;
    text-decoration: none !important;
    outline: 0 !important;
}

    a:hover, a:active, a:visited {
        color: inherit;
        text-decoration: none !important;
        outline: 0 !important;
    }

.contact-us,
.contact-us a,
.footer-contact-us,
.footer-contact-us a,
.contact-us-item a,
.contact-detail a {
    color: #fff;
}

.icon {
    background: url("/Static/highnet/images/telephone.png") no-repeat left top;
    display: block;
    float: left;
    width: 15px;
    height: 17px;
}

.footer-contact-us li {
    margin-bottom: 20px;
}

.footer-contact-us .icon {
    width: 40px;
    height: 50px;
}

.address-icon {
    background-position: left 0;
}

/*.mobile-icon {
    background-position: -280px 0;
}*/

.email-icon {
    background-position: -416px 0;
}

.footer-contact-us .address-icon {
    background-position: left -50px;
}

.footer-contact-us .mobile-icon {
    background-position: left -128px;
}

.footer-contact-us .email-icon {
    background-position: left -200px;
}


.mobile {
    background: rgba(0, 0, 0, 0) url("/Static/highnet/images/mobile.png") no-repeat scroll left top;
    height: 31px;
    margin-right: 10px;
    width: 17px;
}

.po {
    background: rgba(0, 0, 0, 0) url("/Static/highnet/images/po.png") no-repeat scroll left top;
    height: 23px;
    margin-right: 10px;
    width: 24px;
}

.icon-txt {
    padding-bottom: 5px;
}

.hero-banner {
    position: relative;
}

.logo a {
    margin-bottom: 10px;
}

.highnet .main .news {
    color: #000;
}

.highnet .navbar-default {
    background: #fff;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
}

    .highnet .navbar-default .navbar-nav > li > a {
        color: #a4a4a4;
        font-size: 18px;
        font-weight: bold;
        padding: 31px 42px 30px;
    }

        .highnet .navbar-default .navbar-nav > li > a:focus,
        .highnet .navbar-default .navbar-nav > li > a:hover {
            color: #A4A4A4;
        }

/*.highnet .navbar-default li {
        padding: 0 20px;
    }*/

.arrow-down {
    background: url("/Static/highnet/images/arrow-down.png") no-repeat scroll 0 0;
    bottom: -19px;
    display: none;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 42px;
    z-index: 99999;
    height: 19px;
}

.highnet .navbar-default li.active .arrow-down, .highnet .navbar-default li.active:hover .arrow-down, .highnet .navbar-default li.active:focus .arrow-down {
    display: block;
}

.highnet .navbar-brand {
    display: block;
    height: auto;
    /*margin: 0 40px 0 0;*/
    padding: 17px 0;
}

.intro-banner {
    background: url("/Static/highnet/images/page-banner.jpg") no-repeat left top;
    background-size: cover;
    position: relative;
}

.intro-text {
    background: rgba(40, 110, 137, 0.8);
    padding: 20px;
    color: #fff;
}

.footer {
    padding: 10px 0 5px 0;
    background: #252525;
}

.footer-links li {
    border-right: 1px solid #7f7f7f;
    float: left;
    padding: 0 5px;
    color: #000000;
}

.footer-links a {
    color: #000000;
}

.footer-links li:last-child {
    border: none;
}

#map {
    height: 100%;
}

    #map img {
        max-width: 100%;
    }

    #map iframe {
        border: none;
        width: 100%;
    }

.module {
    padding: 5px 0 0;
}

.spacer {
    margin: 10px 0;
    height: 1px;
    display: block;
}

.bx-viewport {
    z-index: 1;
}

.bxslider-img .banner-img {
    margin: 0 auto;
    max-height: 360px;
    position: relative;
    width: auto;
    max-height: 360px;
}

.bxslider-img .black-band {
    position: absolute;
    top: 25%;
    width: 50%;
    z-index: 1;
}

    .bxslider-img .black-band img {
        width: 100%;
    }

.band {
    background: #000;
    position: relative;
    /*top: 23%;*/
    width: 100%;
}

.bxslider-img .banner-text {
    color: #fff;
    margin: 10px auto;
    text-align: center;
}

    /*.bxslider-img .banner-text h1 {
        font-size: 50px;
        font-weight: bold;
        margin: 0;
    }*/

    .bxslider-img .banner-text p {
        font-size: 28px;
        text-align: center;
    }

    .bxslider-img .banner-text h2 {
        font-weight: bold;
        margin: 10px 0 5px;
    }

    .bxslider-img .banner-text span {
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
    }

    .bxslider-img .banner-text a {
        color: red;
        font-size: 18px;
        outline: 0;
    }

        .bxslider-img .banner-text a:hover {
            text-decoration: underline !important;
        }


.bx-pager.bx-default-pager {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 0 5px 0;
    z-index: 2;
    text-align: center;
    font-size: .85em;
    font-weight: bold;
    color: #666;
    padding: 10px 0 5px 0;
}

.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #fff;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.img-slider .bx-controls-direction {
    display: none;
}

/***********************Video Slider Styling************************/

.gallery-pager a {
    display: block;
    width: 100%;
}

.gallery-pager .thumb {
    cursor: pointer;
    height: 108px;
    margin-bottom: 25px;
    margin-right: 10px;
    width: 81%;
}

.video-slider-wrapper {
    margin: 20px 0;
}


/***********************Highnet custom Page Styling************************/
.main {
    background-color: #F5F5F5;
    position: relative;
}

/*.our-beliefs {
    padding: 20px 30px;
}*/

.intro-heading {
    color: #1B1B1B;
    font-size: 24px;
    line-height: 40px;
    margin: 30px 0 30px 0; /*
    padding: 0 30px;*/
}

.ceo-detail {
    margin: 20px 0;
    text-align: center;
}

.ceo-img {
    margin: 0 auto;
    max-width: 100%;
}

.ceo-name {
    font-size: 18px;
    color: #1b1b1b;
    display: block;
}

.more-link {
    padding: 10px 0 20px 10px;
    display: inline-block;
}

.feature-list li {
    background: rgba(0, 0, 0, 0) url("/Static/highnet/images/arrow-list-right.jpg") no-repeat scroll 0 7px;
    color: #666666;
    line-height: 25px;
    list-style: none none;
    padding: 0 0 0 10px;
}

.highlight-header {
    background-color: #d30007;
    color: #fff;
    font-size: 25px;
    letter-spacing: 12px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 5px;
}

    .highlight-header p {
        margin: 0;
        padding: 15px 0;
    }

.our-belief,
.feature-wrapper,
.photo-wrapper,
.text-slider-wrapper,
.video-wrapper,
.contact-us-wrapper,
.highlight-wrapper {
    background: #fff;
}

.contact-us-wrapper {
    text-align: center;
}

.feature-item {
    padding: 40px 0;
    position: relative;
    text-align: center;
    border: 1px solid #ccc;
    border-left: none;
    margin: 100px 0 50px 0;
}

    .feature-item:last-child {
        border-right: none;
    }

.feature-icon {
    background: #000000 none repeat scroll 0 0;
    border-radius: 92px;
    display: block;
    height: 92px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: -34%;
    width: 92px;
}

.industry-icon-1, .industry-icon-2 {
    padding: 28px 25px;
}

.environment-icon-1, .environment-icon-2 {
    padding: 12px 15px;
}

.community-icon-1, .community-icon-2 {
    padding: 17px 16px;
}

.feature-item:hover .industry-icon-1, .feature-item:hover .environment-icon-1, .feature-item:hover .community-icon-1 {
    display: none;
}

.industry-icon-2, .environment-icon-2, .community-icon-2 {
    display: none;
}

.feature-item:hover .industry-icon-2, .feature-item:hover .environment-icon-2, .feature-item:hover .community-icon-2 {
    display: block;
}

.feature-item {
    color: #1b1b1b;
}

    .feature-item h3 {
        font-size: 24px;
        font-weight: bold;
        margin: 15px auto;
        width: 200px;
    }

    .feature-item a {
        color: #D30007;
    }

    .feature-item:hover {
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }

        .feature-item:hover a {
            color: #fff;
            text-decoration: none;
        }

        .feature-item:hover .feature-icon {
            background-color: #fff;
        }

/*.feature-icon.industry-icon {
    background: #333333 url("../images/industry-icon.png") no-repeat 25px 27px;
}

.feature-icon.environment-icon {
    background: #333333 url("../images/environment-icon.png") no-repeat 13px 15px;
}

.feature-icon.community-icon {
    background: #333333 url("../images/community-icon.png") no-repeat 15px 19px;
}

.feature-item:hover .feature-icon.industry-icon {
    background-position: 25px -36px;
}

.feature-item:hover .feature-icon.environment-icon {
    background-position: 13px -70px;
}

.feature-item:hover .feature-icon.community-icon {
    background-position: 15px -68px;
}*/

.gal-item {
    position: relative;
    margin-bottom: 30px;
}

    .gal-item .gal-img {
        width: 100%;
    }

    .gal-item .gal-title {
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        font-size: 21px;
        width: 100%;
        padding: 10px 0;
    }

    .gal-item:hover .gal-title {
        cursor: pointer;
        background: #fff;
        color: #1b1b1b;
        cursor: pointer;
    }

/*about strat*/

/*about end*/


/*common strat*/

.main-content p {
    margin: 20px 0;
}

.top-banner img {
    margin: 0 auto;
    max-height: 360px;
    width: auto;
}

.page-heading {
    position: relative;
}

.red-band {
    background: #d30007 none repeat scroll 0 0;
    bottom: -25px;
    color: #fff;
    margin: 0 -15px;
    position: absolute;
    width: 100%;
    z-index: 10;
}

    .red-band h1 {
        font-size: 22px;
        font-weight: bold;
        margin: 0;
        padding: 15px;
        position: relative;
    }

.white-section {
    background: white none repeat scroll 0 0;
    padding: 25px 15px 0;
}

.clears {
    clear: both;
}

.print-page li {
    border-right: 1px solid #FF0000;
    display: inline-block;
}

    .print-page li:last-child {
        border: none;
    }

    .print-page li a {
        margin: 0 5px 0 0;
        color: #FF0000;
    }

.feature-item > a:hover {
    text-decoration: underline !important;
}

.more-link:hover {
    color: #000;
    text-decoration: underline !important;
}

.bxslider-text a:hover {
    color: #000;
    text-decoration: underline !important;
}

.footer-links.cf a:hover {
    color: black;
}

.container.contact-us-wrapper a:hover {
    color: black;
}

.print-page a:hover {
    text-decoration: underline !important;
}

.com-seation a:hover {
    color: black;
    text-decoration: underline !important;
}

.icon-txt > a:hover {
    color: white !important;
}
/*common end*/


/*news strat*/
.news-right-img {
    position: relative;
}

.news p + p {
    margin: 0;
    padding: 0;
}

.news p span {
    display: block;
}

.news h2 {
    color: #000;
    font-size: 18px;
    margin-top: 10px;
}

.news .cal img {
    margin: 10px auto;
}

.glyphicon.glyphicon-calendar.news {
    background: #ffffff none repeat scroll 0 0;
    margin: 0 auto !important;
    padding: 15px 40px;
    text-align: center;
}

.date {
    bottom: 0px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.detail-link {
    color: #D30007;
    text-decoration: none;
}

    .detail-link:visited {
        color: #D30007;
    }

    .detail-link:hover {
        text-decoration: underline !important;
    }
/*news end*/


/*business start*/
.business {
    margin: 10px 0;
}

    .business h2 {
        color: #000;
        font-size: 26px;
        font-weight: bold;
        margin: 10px 0 20px;
    }

    .business p {
        margin: 10px 0 20px;
        text-align: justify;
    }

.business-image {
    position: relative;
}

    .business-image img {
        width: 100%;
    }

.hover-link {
    display: none;
    text-align: center;
}

    .hover-link .glyphicon.glyphicon-search {
        background: black none repeat scroll 0 0;
        color: red;
        font-size: 26px;
        left: 30%;
        margin: 0 0 0 -15px;
        opacity: 0.8;
        padding: 17px;
        position: absolute;
        top: 40%;
        display: none;
    }

    .hover-link .glyphicon.glyphicon-link {
        background: black none repeat scroll 0 0;
        color: red;
        font-size: 26px;
        left: 0;
        margin: 0 auto;
        opacity: 0.8;
        padding: 17px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 40%;
        width: 70px;
    }

.business-image:hover .hover-link, .gal-item:hover .hover-link {
    display: block;
}

.business a {
    color: #D30007;
    text-decoration: none;
}

.glyphicon.glyphicon-search {
    background: black none repeat scroll 0 0;
    color: red;
    font-size: 26px;
    margin-right: 20px;
    padding: 17px;
}

.glyphicon.glyphicon-link {
    background: black none repeat scroll 0 0;
    color: red;
    font-size: 26px;
    margin-left: 20px;
    padding: 17px;
}
/*business end*/


/*footer strat*/
.footer-contact {
    text-align: center;
}
/*footer end*/


/*contact us page start*/
.form-group.contact input {
    border-radius: 0;
    height: 45px;
}

.form-group.contact textarea {
    border-radius: 0;
}

.no-margin {
    margin: 0 !important;
}

.contact-form {
    margin-top: 20px;
}

.btn.btn-contact {
    background: #d60009 none repeat scroll 0 0;
    border-radius: 0;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 12px 35px;
}

.map > iframe {
    margin: 15px 0;
    width: 100%;
}
/*contact us page start*/


/*community start*/
.com-seation {
    border-bottom: 2px dotted #7f7f7f;
    padding: 14px 20px;
}

    .com-seation:last-child {
        border: none;
    }

    .com-seation .com-img img {
        /*border: 3px solid black;*/
        /*margin-bottom: 5px;*/
        /*padding: 5px;*/
    }

    .com-seation p {
        margin: 0px 0 10px;
    }

    .com-seation a {
        color: #7f7f7f;
        text-decoration: none;
    }
/*community end*/


/*start new*/
.text-slider-wrapper h3 {
    background: rgba(0, 0, 0, 0) url("../images/news-paper.jpg") no-repeat scroll 0 0;
    font-size: 23px;
    height: 46px;
    margin: 50px 0 0;
    padding: 10px 0 10px 76px;
}
/*end new*/


/*start video slider*/
.video-slider, .video-slider .video-wrapper {
    background: #000 none repeat scroll 0 0;
}

.border-block {
    border: none;
}
/*end video slider*/

.contact-us {
    padding: 20px 0;
}

    .contact-us .icon-txt {
        font-size: 16px;
        padding: 5px 0 !important;
    }

.social-icon li {
    display: inline-block;
}

.social-icon a {
    color: transparent;
}

.s-icon {
    height: 26px;
    width: 26px;
    display: block;
}
.s-icon img{
    width:100%;
    display:block
}

.caret-dd {
    background: transparent none repeat scroll 0 0;
    border: medium none !important;
    padding: 10px !important;
    position: absolute !important;
    right: 20px;
    top: 0;
}


/*slider icon strat*/
.bx-next.disabled > img, .bx-prev.disabled > img, .bx-next > img, .bx-prev > img {
    margin: 5px;
    width: 15px;
}

.text-slider .bx-next, .text-slider .bx-prev {
    background-color: #000 !important;
    margin: 8px 9px 8px 0;
    padding: 3px 5px;
    width: 25px;
    background-position: 4px center;
}
/*slider icon end*/


/*History Page starts*/
.history {
}

    .history .history-image {
        float: left;
        margin-right: 10px;
    }

div.history .bx-next > img, div.history .bx-prev > img {
    background: #fff none repeat scroll 0 0;
}
/*History Page ends*/


/*gove page start*/
.chief-executive img {
    margin: 0 auto;
}

.character-img {
    float: left;
    margin: 0 15px 15px 0;
}

p.lead-name {
    color: black;
}

.char-info > p {
    margin: 0 !important;
}

/*common item page start*/

.item-list li {
    list-style: inside disc !important;
    margin-left: 10px;
}

/*common item page end*/


/*slider navigation start*/

.bx-next {
    background: rgba(0, 0, 0, 0) url("/Static/highnet/images/right-arrow.png") no-repeat scroll 0 7px;
    height: 32px;
    width: 18px;
    margin-left: 5px;
}

.bx-prev {
    background: rgba(0, 0, 0, 0) url("/Static/highnet/images/left-arrow.png") no-repeat scroll 0 7px;
    height: 32px;
    width: 18px;
}

.bx-next, .bx-prev {
    background-size: 14px auto !important;
}


/*slider navigation end*/

.img-slider {
    text-align: center;
}

/*validation label*/
.field-validation-error {
    color: red;
    font-weight: bold;
}

/**/

.date-text {
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    letter-spacing: 0 !important;
}

.white-section ul {
    padding: 0 0 0 15px;
}

.white-section li {
    list-style-type: disc;
}


.business-conent h2 {
    font-size: 18px;
    margin: 0 0 10px;
}

.search li {
    list-style-type: none !important;
}

.download-form .form-control {
    float: left;
    margin-right: 5px;
    width: 95%;
}

ul.bxslider-img li:first-child {
    display: block;
}

ul.bxslider-img li {
    display: none;
}

.bx-clone {
    display: none !important;
}

.video-iframe iframe {
    width: 100%;
    height: 460px;
}

.gallery-pager > p {
    color: white;
    font-size: 12px;
}

.search-bx {
    float: right;
    margin: -3px 10px;
    position: relative;
}

    .search-bx input {
        border: medium none;
        border-radius: 4px;
        box-shadow: none;
        color: #000;
        margin-top: 2px;
        padding-left: 8px;
        outline: none;
    }

    .search-bx .glyphicon.glyphicon-search {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: 0 none;
        color: gray;
        font-size: 15px;
        height: auto;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 7px;
        top: 6px;
        width: auto;
        cursor: pointer;
    }

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #d30007;
    border-color: #ddd;
}

.pagination > li > a, .pagination > li > span {
    color: #d30007;
}

.btn.btn-sm.search-button {
    background: #d30007 none repeat scroll 0 0;
    color: white;
    font-weight: bold;
}


.social-icon {
    list-style: outside none none;
    padding: 0;
}

.footer-links.cf {
    display: table;
    list-style: outside none none;
    margin: 0 auto;
    padding: 0;
}

.gallery-pager p {
    margin-bottom: 0;
    color: white;
}

.footer-links.cf ul {
    list-style: outside none none;
    padding: 0;
}


.navbar-brand img {
    max-width: 197px;
}


.container.white-section a {
    color: #337ab7;
}

    .container.white-section a:hover {
        text-decoration: underline !important;
    }



/*New Home Page */
body {
    overflow-x: hidden;
}

.no-padding {
    padding: 0;
}

.slider-back {
    position: relative;
}



.human-pic-slider {
    margin: 0 auto;
    padding: 50px 0;
}

    .human-pic-slider.container > img {
        float: left;
        width: 450px;
    }

    .human-pic-slider.container h2 {
        color: #000;
        font-size: 48px;
        font-weight: bold;
        left: -35px;
        margin-top: 50px;
        position: relative;
        width: 91%;
    }

.quotes {
    background-image: url('../../../../Static/highnet/images/homepg/quotes.png');
    background-repeat: no-repeat;
    background-size: 60px auto;
    height: 200px;
    margin: 0 0 0 50px;
    padding: 50px;
    position: relative;
    top: 70px;
}

.human-pic-slider.container > p {
    color: #000;
    margin-top: 29px;
    text-align: left;
    width: 91%;
}

.slider-back {
    position: relative;
}

.home-block {
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    /*height: 338px;*/
}

    .home-block h1 {
        margin: 0;
    }

.block-head > h3 {
    margin: 0;
}

.home-block {
    padding: 15px;
    position: relative;
}

.block-head {
    min-height: 75px;
}

    .block-head > p {
        margin: 3px 0;
    }

    .block-head > .arr {
        float: right;
        font-size: 25px;
        line-height: 20px;
    }

.two-block {
    float: right;
    padding-left: 15px;
    width: 50%;
}



.block-main-content {
    font-size: 18px;
    width: 100%;
}

.blk-font {
    color: black !important;
}

    .blk-font a {
        color: black !important;
    }

.block-main-content a {
    display: block;
}

.testimonial-slide .carousel-control {
    position: static;
}

.test-content {
    font-size: 16px;
    background: #E5E5E5 none repeat scroll 0 0;
    margin-left: 80px;
    padding: 40px 45px 40px 0;
    position: relative;
}

    .test-content > p, .test-content .desig {
        left: -50px;
        margin-bottom: 30px;
        position: relative;
        color: #000;
    }

    .test-content > p {
        font-weight: bold;
        font-style: italic;
    }

.testimonial-head {
    float: right;
    width: 82%;
}

.quote-test {
    float: right;
    left: 46px;
    position: relative;
}

.test-slider-nav {
    bottom: 30px;
    position: absolute;
    right: 45%;
}

.testimonial-slide .carousel-indicators {
    bottom: 30px;
    left: 40%;
    list-style: outside none none;
    margin: 0 auto;
    padding-left: 0;
    position: absolute;
    text-align: center;
    width: auto;
    z-index: 15;
}

.testimonial-head > p {
    margin-bottom: 35px;
}

.main {
    background-color: #fff;
}

.desig {
    display: block;
    font-size: 12px;
    margin-bottom: 24px !important;
}

.contact-us-new {
    color: #000;
    margin: 40px 0;
    text-align: center;
}

.get-in-touch-btn {
    background: #dc0503 none repeat scroll 0 0;
    color: white !important;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 20px 0;
    padding: 18px 55px;
    text-decoration: underline !important;
    border: none;
    text-transform: uppercase;
    outline: none;
}

.get-in-touch-btn.no-margin {
    margin: 0;
}

    .get-in-touch-btn:hover {
        text-decoration: underline !important;
    }


.contact-us-new > p {
    margin-bottom: 18px;
}

.contact-us-new > h2 {
    margin-bottom: 40px;
}

.contact-us-new a {
    color: #dc0503;
}

/*test slider start*/

.testimonial-slide {
    color: #000;
    margin: 40px 0;
}

    .testimonial-slide a {
        color: #000;
    }

    .testimonial-slide .text-brand {
        color: #000;
    }

    .testimonial-slide .carousel-indicators .active {
        background: #000;
    }

    .testimonial-slide .no-margin {
        margin: 0;
    }

    .testimonial-slide .carousel-indicators li {
        border: 1px solid #ccc;
    }

    .testimonial-slide .carousel-control {
        color: #000;
        width: 5%;
    }

        .testimonial-slide .carousel-control:hover,
        .testimonial-slide .carousel-control:focus {
            color: #000;
            text-decoration: none !important;
        }
        .main .container.white-section .testimonial-slide .carousel-control:hover,
        .testimonial-slide .carousel-control:focus {
            text-decoration: none !important;
        }
        .testimonial-slide .carousel-control.left,
        .testimonial-slide .carousel-control.right {
            background-image: none;
        }

    .testimonial-slide .item {
        padding: 15px 40px;
    }

    .testimonial-slide .media-object {
        margin: auto;
    }

@media screen and (max-width: 768px) {
    .testimonial-slide .media-object {
        margin-bottom: 15px;
    }
}
/*test slider end*/

@media(max-width:1199px) {
    .human-pic-slider.container h2 {
        font-size: 40px;
        width: 100%;
    }

    .human-pic-slider.container > img {
        width: 375px;
    }

    .home-block {
        /*height: 300px;*/
    }

    .block-main-content {
        font-size: 16px;
        width: 100%;
    }
}

@media(max-width:991px) {
    .human-pic-slider.container h2 {
        font-size: 28px;
        width: 100%;
    }

    .home-block {
        /*height: 250px;*/
    }

    .block-main-content {
        font-size: 15px;
    }

    .block-main-content {
        font-size: 15px;
    }

    .block-head {
        min-height: 60px;
    }

    .block-main-content {
        font-size: 12px;
    }
}

@media(max-width:767px) {

    .human-pic-slider.container > img {
        float: none;
    }

    .human-pic-slider.container h2 {
        left: 0;
        width: 100%;
        margin-top: 0;
    }

    .quotes {
        top: 25px;
    }

    .human-pic-slider.container > img {
        width: 100%;
    }

    .human-pic-slider {
        margin: 0 auto;
        padding: 50px;
    }
    /*.home-block {
                    height: 350px;
                }*/
    .two-block {
        width: 100%;
    }

    .block-main-content > p {
        font-size: 16px;
    }

    .quote-test {
        float: none !important;
        left: 30px !important;
        position: absolute !important;
    }

        .quote-test > img {
            width: 60px;
        }

    .test-slider-nav {
        right: 16% !important;
    }
}

@media(max-width:600px) {
    .human-pic-slider.container h2 {
        font-size: 23px;
        margin-top: 5px;
    }

    .human-pic-slider {
        margin: 0 auto;
        padding: 20px 50px;
    }

    .test-content {
        padding: 40px 0 !important;
        margin-left: 35px !important;
        width: 100% !important;
    }

        .test-content > p, .test-content .desig {
            left: -15px !important;
        }
}

@media(max-width:500px) {


    .human-pic-slider.container h2 {
        font-size: 18px;
        margin-top: 5px;
    }
}

.font-white {
    color: white;
}

.Full-block-content {
    margin-left: 0;
    padding: 25px;
    position: absolute;
    top: 12px;
    width: 90%;
}

.std-content {
    color: black;
}

.num-cont {
    color: black;
}


.newsblock .block-main-content, .othertilesblock .block-main-content {
    position: relative;
    width: 100%;
}

.newsblock .block-main-content, .othertilesblock .block-main-content {
    display: inline-block;
    max-height: 8.9em;
    overflow: hidden;
    overflow-wrap: break-word;
    position: relative;
}

/* will be red only in google chrome */
#test1 {
    color: green;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .newsblock .block-main-content, .othertilesblock .block-main-content {
        display: inline-block;
        max-height: 8.5em;
        overflow: hidden;
        overflow-wrap: break-word;
        position: relative;
    }
}

@media(max-width:1099px) {
    .newsblock .block-main-content, .othertilesblock .block-main-content {
        max-height: 5.9em;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        .newsblock .block-main-content, .othertilesblock .block-main-content {
            display: inline-block;
            max-height: 5.5em;
            overflow: hidden;
            overflow-wrap: break-word;
            position: relative;
        }
    }
}

@media(max-width:991px) {
    .newsblock .block-main-content, .othertilesblock .block-main-content {
        max-height: 100% !important;
    }
}


/*home page re dwign*/

@media(max-width:1199px) {
    .human-pic-slider.container h2 {
        font-size: 40px;
        width: 100%;
    }

    .human-pic-slider.container > img {
        width: 375px;
    }

    .home-block {
        /*height: 300px;*/
    }

    .block-main-content {
        font-size: 16px;
        width: 100%;
    }
}

@media(max-width:991px) {
    .human-pic-slider.container h2 {
        font-size: 28px;
        width: 100%;
    }

    .home-block {
        /*height: 250px;*/
    }

    .block-main-content {
        font-size: 15px;
    }

    .block-main-content {
        font-size: 15px;
    }

    .block-head {
        min-height: 60px;
    }

    .block-main-content {
        font-size: 12px;
    }
}

@media(max-width:767px) {

    .human-pic-slider.container > img {
        float: none;
    }

    .human-pic-slider.container h2 {
        left: 0;
        width: 100%;
        margin-top: 0;
    }

    .quotes {
        top: 25px;
    }

    .human-pic-slider.container > img {
        width: 100%;
    }

    .human-pic-slider {
        margin: 0 auto;
        padding: 50px;
    }

    /*.home-block {
                    height: 350px;
                }*/

    .two-block {
        width: 100%;
    }

    .block-main-content > p {
        font-size: 16px;
    }

    .quote-test {
        float: none !important;
        left: 65px !important;
        position: absolute !important;
        top: 15px;
    }

        .quote-test > img {
            width: 42px;
        }

    .test-slider-nav {
        right: 16% !important;
    }

    /*.home-block {
                    margin: 0 auto;
                    width: 60%;
                }*/
}

@media(max-width:600px) {
    .human-pic-slider.container h2 {
        font-size: 23px;
        margin-top: 5px;
    }

    .human-pic-slider {
        margin: 0 auto;
        padding: 20px 50px;
    }

    .test-content {
        padding: 40px 0 !important;
        margin-left: 35px !important;
        width: 100% !important;
    }

        .test-content > p, .test-content .desig {
            left: -15px !important;
        }

    .quote-test {
        left: 20px !important;
    }
}

@media(max-width:500px) {


    .human-pic-slider.container h2 {
        font-size: 18px;
        margin-top: 5px;
    }

    .home-block {
        width: 100%;
    }
}

.font-white {
    color: white;
}

.Full-block-content {
    margin-left: 10px;
    position: absolute;
    top: 12px;
    width: 90%;
}
/*For upload field*/
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.resume-file {
    height: 45px;
    width: 100%;
    position: relative;
    border-radius: 0;
}
.inputfile + label {
    font-size: 14px;
    /* 20px */
    white-space: nowrap;
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 0 15px;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile-6 + label span {
    width: 100%;
    height: 45px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    line-height: 45px;
    font-size: 14px;
    color: #999999;
    font-weight: 400;
}
.inputfile-6 + label span.has-file {
    color: #555;
}
.inputfile-6 + label strong {
    background-color: #dc0503;
    text-decoration: underline;
    height: 45px;
    padding: 0 20px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 0;
    line-height: 45px;
    border: 0;
    font-weight: 400;
    right: 0;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #dc0503;
    text-decoration: underline;
    height: 45px;
    padding: 0 20px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 50em) {
	.inputfile-6 + label strong {
		display: block;
	}
}


/*Form element*/
.block .Form__Element label {
    display: none;
}

/*Custom select box*/
.tzSelect{
	
	/* This is the container of the new select element */
	
	height:45px;
	display:inline-block;
	width:100%;
	position:relative;
	line-height: 45px;
}

.tzSelect .selectBox{
	position:absolute;
	height:100%;
	width:100%;
	border-radius: 0;
	/* Font settings */
	font-size:14px;
	color:#999;
    padding: 0 15px;
    line-height: 45px;
	cursor:pointer;
}
.tzSelect .selectBox.selected-text {
    color: #555;
}
.tzSelect .selectBox:after {
    content: '';
    background:url('../images/dropdown-arrow.png') no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
}
.tzSelect .selectBox.expanded {
}
.tzSelect .selectBox.expanded:after{
	background-position: 0 -45px;
}

.tzSelect .dropDown{
	position:absolute;
	top:45px;
    background: #fff;
	left:0;
    z-index: 9999;
	width:100%;
	border: 1px solid #ccc;
	border-width:0 1px 1px;
	list-style:none;
	padding: 0 0 15px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
    max-height: 250px;
    overflow-y: auto;
}


.tzSelect li{
	cursor:pointer;
	position:relative;
    padding: 5px 15px;
    list-style: none;
    line-height: 24px;
    color: #555;
}

.tzSelect li:hover{
	color: #dc0503;
    text-decoration: underline;
}
.send-applicatin-btn {
    text-align: center;
}
.form-title {
    font-size: 26px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #000000;
}
.form-descriptions {
    color: #000000;
    margin-bottom: 55px;
    font-size: 18px;
    line-height: 24px;
}
.Form__Element {
    position: relative;
}
.Form__Element__ValidationError {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #dc0503;
    color: #fff;
    padding: 0 15px;
    line-height: 45px;
}
.ValidationFail .form-control {
    border-color: #dc0503;
}

.ValidationFail .Form__Element__ValidationError {
    height: 45px;
}
.ValidationFail .Form__Element__ValidationError.remove_error {
    height: 0;
}

/*Media room photo gallery*/
.mediaroom-gallery .darkgrey-bg {background-image: -webkit-linear-gradient(left, transparent 15%, rgb(192, 192, 192) 10px, rgb(192, 192, 192) 100%); min-height: 135px; max-width: 97%;}

.mediaroom-gallery#tms-testimonial-carousel .carousel-indicators li {
  width: 12px;
  height: 12px;
  margin-left: 20px;
  background: #c4c4c4; }
  .mediaroom-gallery#tms-testimonial-carousel .carousel-indicators li:first-child {
    margin-left: 0; }
  .mediaroom-gallery#tms-testimonial-carousel .carousel-indicators li.active {
    background: #333333; }

.mediaroom-gallery .img-container {
  position: relative; }
.mediaroom-gallery .img-container img {
    width: 100%;
    height: auto;
}
  .mediaroom-gallery .img-container .item-action {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0; }
    .mediaroom-gallery .img-container .item-action a {
      display: inline-block;
      vertical-align: middle;
      width: 70px;
      height: 70px;
      margin-left: 5px; }
      .mediaroom-gallery .img-container .item-action a:hover {
        background-color: #a40107; }
      .mediaroom-gallery .img-container .item-action a.zoom-img {
        background: url("/Static/highnet/images/zoom-btn.png") no-repeat center center #d30007; }
      .mediaroom-gallery .img-container .item-action a.download-img {
        background: url("/Static/highnet/images/download-btn.png") no-repeat center center #d30007; }

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0; }

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0; }

/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0; }
