extends ../layouts/root.jade

block title
    title Extraordinary give page

block content
        // Header block
        include ../blocks/shared/header.jade

        // Header banner block
        include ../blocks/shared/header-banner.jade

        // Two columns 2 block
        include ../blocks/shared/two-columns-2.jade

        // Two columns with form block
        include ../blocks/shared/two-columns-with-form.jade

        // Footer block
        include ../blocks/shared/footer.jade