extends ../layouts/root.jade

block title
    title How we work page

block content
        // Header block
        include ../blocks/shared/header.jade

        // Header banner block
        include ../blocks/shared/header-banner.jade

        // Two columns 4 block
        include ../blocks/shared/two-columns-4.jade

        // Logo wall block
        include ../blocks/shared/pure-image.jade

        // Two columns 4 block
        include ../blocks/shared/two-columns-4.jade

        // Two columns with form block
        include ../blocks/shared/two-columns-with-form.jade

        // Footer block
        include ../blocks/shared/footer.jade